@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

html, body{font-family: 'Source Sans Pro', sans-serif;}
#wrapper{padding:0px 0px; position:relative; margin:0 auto; display:block;}

html{font-size:64.5%;}
body{font-size:16px; overflow-x:hidden;}


/*poll / quiz / survery*/
/*modal*/
.modal { text-align: center; padding: 0!important;}
.modal:before { content: '';  display: inline-block;  height: 100%;  vertical-align: middle; margin-right: -4px;}
.modal-dialog { display: inline-block; text-align: left; vertical-align: middle;}
.close { float: right; font-size: 21px; font-weight: bold; line-height: 1; color: #000; text-shadow: 0 1px 0 #fff; filter: alpha(opacity=20); opacity: .9; margin: 10px;}
.modal-content { background-color: transparent; border-radius: 0px; -webkit-box-shadow: none; box-shadow: none; border: none; margin: 20px auto;}

.modal-header { min-height: 16.42857143px; padding: 15px 0 10px; border-bottom: none; width: 100%;  display: none;}
.popup_source { display: block; float: left; font-size: 0.9em; color: #fff; line-height: normal; padding: 0; margin: 7px 0;}
.popup_source img { margin: 0 10px 0 0; width: 18px;}
.popup_share_action_holder { display: block; width: 175px; height: auto; padding: 0; margin: 0; float: right; }
.popup_share_action_holder li { display: block; width: calc(25% - 9px); list-style: none; float: left; margin: 0 2px; padding: 0;}
.popup_share_action_holder li:first-child { width: 53px; margin: 0 5px 0 0;}
.popup_share_action_holder li h4{ text-align: left; font-size: 0.9em; color: #fff; font-weight: 500; margin: 0; padding: 8px 0;}
.popup_share_action_holder li a {display: table; width: 100%}
.popup_share_action_holder li a img {display: table; width: 100%}

.modal-body { position: relative; padding: 15px 15px 0px 15px; display:table; width:calc(100% - 30px); background: #fff;}
.modal-body img { display: table; width: 100%;}

.thumb_dec_holder {display: table; width: calc(100% - 20px); margin: 0; padding: 10px; }
.thumb_dec_holder p { font-size: 1em; font-weight: 500; color: #333; line-height: normal; text-align: left; margin: 0; padding: 0;}

.modal-footer {display: table; width: 100%; margin: 0; padding: 10px 0 20px; border-top: none;}
.modal-footer .poll_vote_btn { display: block; width: 132px; padding: 5px 5px 5px 20px; border: 1px solid #333; border-radius: 30px; text-align: center; margin: 0 auto; font-size: 1.1em; color: #333; line-height: normal; background: transparent; text-decoration:none;}
.modal-footer .poll_vote_btn:hover, .modal-footer .poll_vote_btn:active, .modal-footer .poll_vote_btn:focus { color: #fff; background: #FF7E00; border: 1px solid #FF7E00;} 
.modal-footer .poll_vote_btn .action_long_arrow { font-size: 1.3em; padding: 0px 10px 0 5px; line-height: 0; text-align: center; margin: 0 auto; font-weight: 100; color:#FF7E00;}
.modal-footer .poll_vote_btn:hover .action_long_arrow{color:#fff;}

/*poll*/
#myModal_poll {background: url(../gamification/images/poll_bg.png) no-repeat top center rgba(0,0,0,1); background-size: cover;}

.poll_answer_holder {display: table; width: calc(100% - 20px); margin: 0; padding:0px 10px;}
.poll_answer_holder .poll_single_answer_holder { display: table; width: 100%; color: #333; background: transparent; border: 1px solid #959595; border-radius: 2px; margin:0px 0px; padding: 0 }
.poll_answer_holder .poll_single_answer_holder:hover, .poll_answer_holder .poll_single_answer_holder:active, .poll_answer_holder .poll_single_answer_holder:focus { color: #fff; background: #dc0101; border: 1px solid #dc0101;} 
.poll_answer_holder .poll_single_answer_holder p { display: table; font-size: 1em; font-weight: 500; text-align: left; line-height: normal; padding: 15px; margin: 0; width:calc(100% - 30px);}
.poll_answer_holder .poll_single_answer_holder p .popup_answer_arrow {  font-size: 0.7em; padding: 2px 2px 2px 0; display: block; float: left; width: 21px;}
.poll_answer_holder .poll_single_answer_holder p .popup_answer { display: block; float: left; width: calc(100% - 25px);}

.poll_progress_bar_holder {display: none; width: calc(100% - 30px); padding: 0 15px 15px 15px; margin: 0; }
.poll_progress_bar_holder .progress_bar_flow_holder { display: block; float: left; width: calc(100% - 75px); height: 25px; margin: 0 5px 0 0; padding: 0; background: rgba(43,43,43,1.00);}
.poll_progress_bar_holder .progress_bar_flow_holder .percentage_flow {display: table ; width: 50%; background:#FF7E00; margin: 0; padding: 0; height: 100%}
.poll_progress_bar_holder .progress_bar_percentage { display: block ; width: 70px; height: auto; text-align: right; font-size: 1.1em; font-weight: bold; color: #333; line-height: normal; margin: 0; padding: 0; float: right;}

/*poll - result*/
.modal_body_poll .result .poll_single_answer_holder {border: none!important}
.modal_body_poll .result .poll_single_answer_holder .poll_progress_bar_holder {display: table!important;}
.modal_body_poll .result .poll_single_answer_holder:hover, .result .poll_single_answer_holder:active, .result .poll_single_answer_holder:focus { background: transparent!important; color: #959595!important}


/*quiz*/
.quiz_answer_holder {display: table; width:calc(100% - 20px); margin: 0; padding: 10px;}
.quiz_answer_holder .quiz_single_answer_holder { display: table; width: 100%; color: #333; background: transparent; border: 1px solid #666; border-radius: 2px; margin: 0 0 10px 0; padding: 0; height: 55px}
.quiz_answer_holder .quiz_single_answer_holder:hover, .poll_answer_holder .poll_single_answer_holder:active, .quiz_answer_holder .quiz_single_answer_holder:focus { color: #fff; background: #FF7E00; border: 1px solid #FF7E00;} 
.quiz_answer_holder .quiz_single_answer_holder p { display: table-cell; width: calc(100% - 40px); font-size: 1em; font-weight: 500; text-align: left; line-height: normal; padding: 15px; margin: 0; vertical-align: middle;}
.quiz_answer_holder .quiz_single_answer_holder p .popup_answer_arrow {  font-size: 0.7em; padding: 2px 5px; display: block; float: left; width: 21px;}
.quiz_answer_holder .quiz_single_answer_holder p .popup_answer { display: block; float: left; width: calc(100% - 40px);}
.quiz_answer_holder .quiz_single_answer_holder .quiz_tick_icon {display: none; width: 30px; height: 30px; margin: 0 ; padding: 0 10px 0 0; text-align: right; vertical-align: middle; }
.quiz_answer_holder .quiz_single_answer_holder .quiz_tick_icon img {display: table; width: 100%; margin: 0; padding: 0;}

/*quiz - result*/
.modal_body_quiz .quiz_answer_holder .answer .quiz_tick_icon { display: table-cell!important;}
.modal_body_quiz .quiz_answer_holder .answer {background: #FF7E00!important; border: 1px solid #FF7E00!important; color: #fff!important;}


@media (min-width: 320px) {
.modal-dialog {display: inline-block;text-align: left; vertical-align: middle;}
.main_body_holder_for_quiz{background:#fff;}
}



@media (min-width: 550px) {
.thankyou_for_more_question{display:block; margin:0 auto; width:100%; height:100%; background:#fff; background:url(../images/thankyou_question_bg.png) no-repeat center center;}
.thankyou_question_bg{ display:block; width:100%; height:480px; position:relative;}
.thankyou_ohbear_img{display:table; width:250px; margin:0px auto; padding-top:66px;} 
.thankyou_for_more_question button{    display: block; position: absolute; color: #fff; font-size: 1em; padding: 8px 25px; background: #FF7E00; background-position: 10px 10px; border-radius: 30px; border: none; left: 120px; bottom: 116px;}
}

@media (min-width: 640px) {

/*gamification - popup*/
.modal-dialog { width: 550px;}
}

@media (min-width: 767px) {

/*gamification - popup*/
.modal-dialog { width: 550px;}
.modal:before { content: '';  display: inline-block;  height: 100%;  vertical-align: middle; margin-right: -4px;}

.modal_body_poll h2{display: table; margin:0px 0px 10px 0px; padding:0px; width: 100%; font-size: 1.8em; line-height: 1em; color: #666; font-weight: 700; float: left;}
}

@media (max-width:549px) {
	/*gamification - popup*/
.modal:before { content: '';  display: inline-block;  height: auto; vertical-align: middle; margin-right: -4px;}	
.main_body_holder_for_quiz{display:block; margin:0 auto; width:100%; height:100%; background:#fff;}
.thankyou_for_more_question{display:block; margin:0 auto; width:100%; height:100%; background:#fff; background:url(../images/thankyou_question_bg.png) no-repeat center center;}
.thankyou_question_bg{ display:block; width:100%; height:480px; position:relative;}
.thankyou_ohbear_img{display:table; width:200px; margin:0px auto; padding-top:102px;} 
.thankyou_for_more_question button{  display: block; position: absolute; color: #fff; font-size: 0.8em; padding: 8px 25px; background: #FF7E00; background-position: 10px 10px; border-radius: 30px; border: none; left: 20px; bottom: 136px;}
}
.thankyou_for_more_question button img{display:table; margin:0px 0px 0px 7px; float:right;}

