/*bootstrap - responsive font size*/
/*bootstrap - breakpoints*/
/*==================================================================================*/
/*fontface*/
/*==================================================================================*/
@font-face {
  font-family: 'Bubble';
  src: url("~assets/webfonts/bubble/BubbleBobble.eot");
  src: url("~assets/webfonts/bubble/BubbleBobble.eot?#iefix") format("embedded-opentype"), url("~assets/webfonts/bubble/BubbleBobble.woff2") format("woff2"), url("~assets/webfonts/bubble/BubbleBobble.woff") format("woff"), url("~assets/webfonts/bubble/BubbleBobble.ttf") format("truetype"), url("~assets/webfonts/bubble/BubbleBobble.svg#BubbleBobble") format("svg");
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  src: url("~assets/webfonts/gotham/Gotham-Black.eot");
  src: url("~assets/webfonts/gotham/Gotham-Black.eot?#iefix") format("embedded-opentype"), url("~assets/webfonts/gotham/Gotham-Black.woff2") format("woff2"), url("~assets/webfonts/gotham/Gotham-Black.woff") format("woff"), url("~assets/webfonts/gotham/Gotham-Black.ttf") format("truetype"), url("~assets/webfonts/gotham/Gotham-Black.svg#Gotham-Black") format("svg");
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("~assets/webfonts/gotham/Gotham-Book.eot");
  src: url("~assets/webfonts/gotham/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("~assets/webfonts/gotham/Gotham-Book.woff2") format("woff2"), url("~assets/webfonts/gotham/Gotham-Book.woff") format("woff"), url("~assets/webfonts/gotham/Gotham-Book.ttf") format("truetype"), url("~assets/webfonts/gotham/Gotham-Book.svg#Gotham-Book") format("svg");
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("~assets/webfonts/calibri/Calibri.eot");
  src: url("~assets/webfonts/calibri/Calibri.eot?#iefix") format("embedded-opentype"), url("~assets/webfonts/calibri/Calibri.woff2") format("woff2"), url("~assets/webfonts/calibri/Calibri.woff") format("woff"), url("~assets/webfonts/calibri/Calibri.ttf") format("truetype"), url("~assets/webfonts/calibri/Calibri.svg#Calibri") format("svg");
  font-style: normal;
}

@font-face {
  font-family: 'Calibri-Bold';
  src: url("~assets/webfonts/calibri/Calibri-Bold.eot");
  src: url("~assets/webfonts/calibri/Calibri-Bold.eot?#iefix") format("embedded-opentype"), url("~assets/webfonts/calibri/Calibri-Bold.woff2") format("woff2"), url("~assets/webfonts/calibri/Calibri-Bold.woff") format("woff"), url("~assets/webfonts/calibri/Calibri-Bold.ttf") format("truetype"), url("~assets/webfonts/calibri/Calibri-Bold.svg#Calibri-Bold") format("svg");
  font-style: normal;
}

.font-bubble {
  font-family: 'Bubble';
}

.font-gotham {
  font-family: 'Gotham';
}

.font-black {
  font-family: 'Gotham-black';
}

.font-calibri {
  font-family: 'Calibri';
}

.font-calibri-bold {
  font-family: 'Calibri-Bold';
}

html {
  padding: 0px;
  margin: 0px;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Gotham', 'Roboto', sans-serif;
  -webkit-overflow-scrolling: touch;
  word-break: break-word;
}

.desktop-only {
  display: none !important;
}

@media (min-width: 576px) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 575.98px) {
  .desktop-md-only {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile-md-only {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .desktop-lg-only {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .mobile-lg-only {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .desktop-xl-only {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .mobile-xl-only {
    display: none !important;
  }
}

h1 {
  font-size: calc(1.625rem + 4.5vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: calc(1.575rem + 3.9vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 4.5rem;
  }
}

h3 {
  font-size: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 4rem;
  }
}

h4 {
  font-size: calc(1.475rem + 2.7vw);
}

@media (min-width: 1200px) {
  h4 {
    font-size: 3.5rem;
  }
}

h5 {
  font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  h5 {
    font-size: 3rem;
  }
}

.font-26 {
  font-size: calc(1.385rem + 1.62vw);
}

@media (min-width: 1200px) {
  .font-26 {
    font-size: 2.6rem;
  }
}

.font-25 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  .font-25 {
    font-size: 2.5rem;
  }
}

.font-24 {
  font-size: calc(1.365rem + 1.38vw);
}

@media (min-width: 1200px) {
  .font-24 {
    font-size: 2.4rem;
  }
}

.font-22 {
  font-size: calc(1.345rem + 1.14vw);
}

@media (min-width: 1200px) {
  .font-22 {
    font-size: 2.2rem;
  }
}

.font-20 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .font-20 {
    font-size: 2rem;
  }
}

.font-19 {
  font-size: calc(1.315rem + 0.78vw);
}

@media (min-width: 1200px) {
  .font-19 {
    font-size: 1.9rem;
  }
}

.font-18 {
  font-size: calc(1.305rem + 0.66vw);
}

@media (min-width: 1200px) {
  .font-18 {
    font-size: 1.8rem;
  }
}

.font-17 {
  font-size: calc(1.295rem + 0.54vw);
}

@media (min-width: 1200px) {
  .font-17 {
    font-size: 1.7rem;
  }
}

.font-16 {
  font-size: calc(1.285rem + 0.42vw);
}

@media (min-width: 1200px) {
  .font-16 {
    font-size: 1.6rem;
  }
}

.font-15 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .font-15 {
    font-size: 1.5rem;
  }
}

.font-14 {
  font-size: calc(1.265rem + 0.18vw);
}

@media (min-width: 1200px) {
  .font-14 {
    font-size: 1.4rem;
  }
}

.font-13 {
  font-size: calc(1.255rem + 0.06vw);
}

@media (min-width: 1200px) {
  .font-13 {
    font-size: 1.3rem;
  }
}

.font-12 {
  font-size: 1.2rem;
}

.font-11 {
  font-size: 1.1rem;
}

.font-10 {
  font-size: 1rem;
}

.font-9 {
  font-size: 0.9rem;
}

.text-ls-1 {
  letter-spacing: 1px;
}

.text-ls-2 {
  letter-spacing: 2px;
}

.text-ls-3 {
  letter-spacing: 3px;
}

.text-lh-26 {
  line-height: 26px;
}

/*theme color style*/
.bg-theme-1 {
  background: #1f4899;
}

.text-theme-1 {
  color: #1f4899;
}

.text-theme-1 a {
  color: #1f4899;
}

.border-theme-1 {
  border-color: #1f4899;
}

.bg-theme-2 {
  background: #0070C0;
}

.text-theme-2 {
  color: #0070C0;
}

.text-theme-2 a {
  color: #0070C0;
}

.border-theme-2 {
  border-color: #0070C0 !important;
}

.border-theme-4 {
  border-color: #7FB7DF !important;
}

.bg-theme-3 {
  background: #233278;
}

.text-theme-3 {
  color: #233278;
}

.text-theme-3 a {
  color: #233278;
}

.bg-theme-4 {
  background: #7FB7DF;
}

.text-theme-4 {
  color: #7FB7DF;
}

.text-theme-4 a {
  color: #7FB7DF;
}

.bg-theme-5 {
  background: #F16F79;
}

.text-theme-5 {
  color: #F16F79;
}

.text-theme-5 a {
  color: #F16F79;
}

.bg-theme-grey {
  background: #ECEFF2;
}

.text-theme-grey {
  color: #ECEFF2;
}

.text-theme-grey a {
  color: #ECEFF2;
}

.bg-theme-black {
  background: #2E2E2E;
}

.text-theme-black {
  color: #2E2E2E;
}

.text-theme-black a {
  color: #2E2E2E;
}

.bg-purple-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#662D91), to(#990E7F));
  background: linear-gradient(to bottom, #662D91 0%, #990E7F 100%);
}

.bg-blue-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#223176), to(#17235f));
  background: linear-gradient(to bottom, #223176 0%, #17235f 100%);
}

.bg-grey-gradient {
  background: transparent radial-gradient(closest-side at 50% 50%, #fff 0%, #fff 26%, #D5D1CF 200%) 0% 0% no-repeat padding-box;
}

.bg-white {
  background: #ffffff;
}

.bg-black {
  background: #000000;
}

.bg-fb {
  background: #1877F2;
}

.bg-tw {
  background: #1DA1F3;
}

.bg-in {
  background: #007BB6;
}

.bg-wa {
  background: #1BD741;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.truncate-1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: initial;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  -webkit-line-clamp: 2;
}

.truncate-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: initial;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  -webkit-line-clamp: 3;
}

.truncate-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: initial;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  -webkit-line-clamp: 4;
}

.truncate-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: initial;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  -webkit-line-clamp: 5;
}

.truncate-6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: initial;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  -webkit-line-clamp: 6;
}

.scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

@media (max-width: 575.98px) {
  .scrolling-wrapper {
    padding-right: 15px;
  }
}

.scrolling-wrapper .scrolling-item {
  display: inline-block;
}

.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hover-box-shadow .box {
  margin-top: 0px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hover-box-shadow:hover .box {
  margin-top: 0px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hover-scale img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hover-scale:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hover-scale-sm {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.hover-scale-sm:hover {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.video-btn .hover-show {
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.video-btn:hover .hover-show {
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.divider {
  border-bottom: 1px solid #A7A7A7;
}

.col-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20%;
}

.col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 30%;
}

.col-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 40%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover, a:active {
  color: #000000;
  text-decoration: none;
}

:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cursor-pointer {
  cursor: pointer;
}

/*all buttons theme style*/
.disabled {
  cursor: default;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

button {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:focus {
  outline: none;
}

.solid-btn-theme1 {
  background: #1f4899;
  border: 1px solid #1f4899;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.solid-btn-theme1:hover {
  color: #ffffff;
}

.solid-btn-theme2 {
  background: #0070C0;
  border: 1px solid #0070C0;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.solid-btn-theme2:hover {
  color: #ffffff;
  background: #00528d;
}

.solid-btn-fb {
  background: #1877F2;
  border: 1px solid #1877F2;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.solid-btn-fb:hover {
  background: #0c64d5;
  border: 1px solid #0c64d5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.solid-btn-google {
  background: #ffffff;
  border: 1px solid #c3c3c3;
  color: #5E5C5C;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.solid-btn-google:hover {
  color: #000000;
  background: #ebebeb;
  border: 1px solid #ebebeb;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.solid-btn-white {
  background: #ffffff;
  color: #0070C0;
  border: none;
}

.solid-btn-white:hover, .solid-btn-white:active {
  color: #0070C0;
  text-decoration: none;
}

.border-btn {
  border: 1px solid #333333;
  color: #333333;
  background: transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.border-btn:hover, .border-btn:active {
  background: #1f4899;
  border: 1px solid #1f4899;
  color: #ffffff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.border-btn-white {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.border-btn-white:hover, .border-btn-white:active {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.border-btn-theme-1 {
  border: 1px solid #1f4899;
  color: #000000;
  background: transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.border-btn-theme-1:hover, .border-btn-theme-1:active {
  background: #1f4899;
  border: 1px solid #1f4899;
  color: #ffffff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.border-btn-theme-2 {
  border: 1px solid #0070C0;
  background: transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.border-btn-theme-2:hover, .border-btn-theme-2:active {
  color: #0070C0;
}

.btn-padding-sm {
  padding: 5px 18px;
  width: auto;
  text-align: center;
}

.btn-padding {
  padding: 12px 40px;
  width: auto;
  text-align: center;
}

@media (max-width: 575.98px) {
  .btn-padding {
    padding: 10px 30px;
  }
}

.btn-padding-lg {
  padding: 12px 50px;
  width: auto;
  text-align: center;
}

@media (max-width: 991.98px) {
  .btn-padding-lg {
    padding: 10px 45px;
  }
}

@media (max-width: 575.98px) {
  .btn-padding-lg {
    padding: 10px 40px;
  }
}

.close-fixed-img {
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 10px;
}

.close-abs-img {
  position: absolute;
  z-index: 1;
  top: -20px;
  right: -20px;
}

@media (max-width: 575.98px) {
  .close-abs-img {
    top: 10px;
    right: 10px;
  }
}

/*animation*/
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.ani-float {
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

/*bootstrap hacker*/
.form-control {
  border-radius: 10px;
  border-color: #1f4899;
  height: 55px;
  font-size: 18px;
  padding: 10px 20px;
  font-family: 'Arial';
}

.close {
  opacity: 0.7 !important;
}

.close:hover {
  opacity: 1 !important;
}

.modal-backdrop.show {
  opacity: 1;
}

.backdrop-bg {
  opacity: .1 !important;
}

.custom-select-lg {
  height: calc(2em + 1rem + 2px);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}

/*custom theme - list style bullet*/
ul.ul-theme1 {
  list-style: none;
  padding-left: 18px;
}

ul.ul-theme1 li::before {
  content: "\2022";
  color: #AF8244;
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  width: 1em;
  margin-left: -1em;
}

ul.ul-theme-2 {
  list-style: none;
  padding-left: 18px;
}

ul.ul-theme-2 li::before {
  content: "\2022";
  color: #0070C0;
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  width: 1em;
  margin-left: -1em;
}

ul.ul-theme-white {
  list-style: none;
  padding-left: 18px;
}

ul.ul-theme-white li::before {
  content: "\2022";
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  width: 1em;
  margin-left: -1em;
}

/*modal full screen*/
.modalFullscreen {
  padding: 0 !important;
}

.modalFullscreen .modal-dialog {
  max-width: 100%;
  margin: 0;
}

.modalFullscreen .modal-dialog .modal-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  border-radius: 0;
  min-height: 100vh;
}

/*modal full width*/
.modalFullwidth {
  padding: 0 !important;
}

.modalFullwidth .modal-dialog {
  max-width: 100%;
  margin: 0;
}

.modalFullwidth .modal-dialog .modal-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  border-radius: 0;
}

/*Anchor With Sticky Header*/
:target:before {
  content: "";
  display: block;
  height: 50px;
  margin: -50px 0 0;
}

@media (max-width: 991.98px) {
  :target:before {
    height: 50px;
    margin: -50px 0 0;
  }
}

/*Header*/
.desktop-nav .desktop-bg {
  padding-left: 40px;
  padding-right: 40px;
}

.desktop-nav .desktop-bg .nav-item a {
  font-family: "Calibri";
  font-size: 18px;
  color: #D9D9D9;
  padding-bottom: 10px;
}

.desktop-nav .desktop-bg .nav-item a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid white;
}

.desktop-nav .desktop-bg:after {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #0070C0));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #0070C0 50%);
  background-size: 100% 200%;
  background-position: bottom left;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.desktop-nav1 .desktop-bg .nav-item a {
  font-family: "Calibri";
  font-size: 18px;
  color: #D9D9D9;
  padding-bottom: 10px;
}

.desktop-nav1 .desktop-bg .nav-item a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid white;
}

.desktop-nav1 .desktop-bg:after {
  content: '';
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  top: 0;
}

/*li.nav-item a {
    color:#D9D9D9;
    padding-bottom:10px;
}
li.nav-item a:hover {
    color:#FFFFFF;
    border-bottom:1px solid white;
}*/
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.mobile-nav .mobile-nav-bg {
  background-color: #0070C0;
  padding: 2px 20px;
}

.mobile-nav .mobile-nav-bg .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0070C0;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 30%;
  text-align: center;
}

.mobile-nav .mobile-nav-bg .sidenav .closebtn {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 50px;
  margin-left: 50px;
}

.mobile-nav .mobile-nav-bg .sidenav .mobile-social {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.mobile-nav .mobile-nav-bg .sidenav a {
  padding: 20px 20px;
  text-decoration: none;
  font-size: 22px;
  color: #D9D9D9;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-nav .mobile-nav-bg .sidenav a:hover {
  color: #ffffff;
}

@media screen and (max-height: 450px) {
  .mobile-nav .mobile-nav-bg .sidenav {
    padding-top: 15px;
  }
  .mobile-nav .mobile-nav-bg .sidenav a {
    font-size: 18px;
  }
}

/*Footer*/
footer {
  position: relative;
  z-index: 50;
  background-color: white;
}

footer .footer-content {
  padding: 0 40px;
}

@media (max-width: 575.98px) {
  footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

footer .footer-content .copyright {
  font-size: 15px;
}

@media (max-width: 575.98px) {
  footer .footer-content .copyright {
    white-space: pre;
  }
}

@media (max-width: 575.98px) {
  footer .footer-content .footer-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5px;
  }
}

footer .footer-content .footer-social text {
  font-size: 15px;
}

/*PrizesModal*/
@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down .modal-body {
    padding: 25px 20px;
  }
}

.prizesModal .prizes-mb {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 551px) {
  .prizesModal .prizes-mb {
    display: none !important;
  }
}

.prizesModal .modal-exit {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.prizesModal .modal-content {
  padding: 20px;
}

@media (max-width: 575.98px) {
  .prizesModal .modal-content {
    padding: 10px !important;
  }
}

.prizesModal .modal-content .modal-body .prizes-desktop {
  top: 160px;
  right: -120px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

@media (max-width: 550px) {
  .prizesModal .modal-content .modal-body .prizes-desktop {
    display: none !important;
  }
}

.prizesModal .modal-content .modal-body .prizes-divider {
  color: #0070C0;
  height: 2px;
  opacity: 1;
}

@media (max-width: 550px) {
  .prizesModal .modal-content .modal-body .modal-remind {
    max-width: 250px;
    margin: auto;
  }
}

/*end of PrizesModal*/
/*PromotionModal*/
.banner2Modal .modal-content,
.banner3Modal .modal-content,
.banner4Modal .modal-content,
.banner5Modal .modal-content,
.banner7Modal .modal-content {
  margin: 60px 20px;
}

.banner2Modal .modal-content .promotion-close,
.banner3Modal .modal-content .promotion-close,
.banner4Modal .modal-content .promotion-close,
.banner5Modal .modal-content .promotion-close,
.banner7Modal .modal-content .promotion-close {
  position: absolute;
  top: -50px;
  right: -10px;
}

.banner2Modal .modal-content .modal-body ul,
.banner3Modal .modal-content .modal-body ul,
.banner4Modal .modal-content .modal-body ul,
.banner5Modal .modal-content .modal-body ul,
.banner7Modal .modal-content .modal-body ul {
  line-height: 2;
}

.banner2Modal .modal-content .modal-body .promotion-divider,
.banner3Modal .modal-content .modal-body .promotion-divider,
.banner4Modal .modal-content .modal-body .promotion-divider,
.banner5Modal .modal-content .modal-body .promotion-divider,
.banner7Modal .modal-content .modal-body .promotion-divider {
  color: #F16F79;
  opacity: 1;
}

/*end of PromotionModal*/
/*Product Benefits Mobile */
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-width: 0px !important;
}

#flush-collapseOne .accordion-body {
  padding: 0;
  border-bottom: 1px solid #7FB7DF;
}

#flush-collapseOne .accordion-body .vs {
  position: absolute;
  top: 20px;
  right: -35px;
}

#flush-collapseOne .accordion-body .vs-content-left {
  padding: 50px 40px 100px 40px;
  height: 460px;
}

#flush-collapseOne .accordion-body .vs-content-left .product_mb1 {
  position: absolute;
  bottom: 0;
  right: 0;
}

#flush-collapseOne .accordion-body .vs-content-right {
  padding: 20px 40px 100px 40px;
  height: 460px;
  position: relative;
}

#flush-collapseOne .accordion-body .vs-content-right .product_mb2 {
  position: absolute;
  top: 10px;
  right: 0;
}

#flush-collapseOne .slick-next {
  right: 10px !important;
}

#flush-collapseOne .slick-prev {
  left: 10px !important;
}

#flush-collapseTwo .accordion-body {
  padding: 0px 0px 30px 0px;
  border-bottom: 1px solid #7FB7DF;
}

#flush-collapseTwo .accordion-body .slick-item {
  padding: 30px 50px 30px 50px;
}

#flush-collapseTwo .accordion-body .slick-dots {
  bottom: 0px !important;
}

#flush-collapseTwo .slick-next {
  right: 10px !important;
}

#flush-collapseTwo .slick-prev {
  left: 10px !important;
}

#flush-collapseThree .accordion-body {
  padding: 25px 0px 60px 0px;
  border-bottom: 1px solid #7FB7DF;
}

#flush-collapseThree .accordion-body .slick-item {
  padding: 0 55px;
  text-align: center;
}

#flush-collapseThree .accordion-body .slick-dots {
  bottom: -25px !important;
}

#flush-collapseThree .slick-prev {
  left: 10px !important;
}

#flush-collapseThree .slick-next {
  right: 10px !important;
}

/*end of Product Benefits Mobile */
/*homepage*/
.home-page {
  font-family: 'Calibri';
}

.home-page .floating-icon {
  position: fixed;
  right: 0;
  bottom: 130px;
  z-index: 200;
}

@media (max-width: 575.98px) {
  .home-page .floating-icon img {
    display: none;
  }
}

.home-page .masthead-section .masthead {
  background: url(~assets/img/masthead/masthead_bg.png), #162e7c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

@media (max-width: 767.98px) {
  .home-page .masthead-section .masthead {
    background-size: 200%;
    background-position: -260px 60px;
  }
}

.home-page .masthead-section .masthead .ttl-img {
  position: absolute;
  top: 20%;
  left: 4%;
  width: 36%;
}

@media (max-width: 767.98px) {
  .home-page .masthead-section .masthead .ttl-img {
    width: 80%;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.home-page .masthead-section .btn-descover-wrap {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 575.98px) {
  .home-page .masthead-section .btn-descover-wrap {
    bottom: 10vh;
  }
}

.home-page .masthead-section .btn-descover-wrap .btn-descover {
  min-width: 300px;
  text-align: center;
}

.home-page .history-section .products-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: 10vh !important;
}

.home-page .history-section .products-wrap .product-col {
  width: 19%;
  min-width: 210px;
}

.home-page .history-section .products-wrap .product-col .product-img {
  width: 120px;
}

.home-page .history-section .products-wrap .new-product-col {
  width: 24%;
  min-width: 310px;
}

@media (max-width: 450px) {
  .home-page .history-section .products-wrap .new-product-col {
    min-width: 96vw;
  }
}

.home-page .history-section .products-wrap .new-product-col .product-img {
  width: 190px;
  position: relative;
}

@media (max-width: 450px) {
  .home-page .history-section .products-wrap .new-product-col .product-img {
    margin: auto;
  }
}

.home-page .history-section .products-wrap .new-product-col .product-img .spot-circle {
  position: absolute;
  z-index: -1;
  top: -45px;
  left: 35px;
  width: 107px;
  height: 107px;
  border-radius: 50px;
  background-color: #43F5FF;
}

@media (max-width: 450px) {
  .home-page .history-section .products-wrap .new-product-col .product-img .spot-circle {
    top: -25px;
    left: 80px;
  }
}

.home-page .benefit-video-section {
  position: relative;
}

.home-page .benefit-video-section .bg-wave-top {
  background: url("~assets/img/benefit/bg_wave.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
}

@media (min-width: 1700px) {
  .home-page .benefit-video-section .bg-wave-top {
    background-size: cover;
    height: 50%;
  }
}

.home-page .benefit-video-section .bg-wave-bottom {
  background: url("~assets/img/video/bg_wave.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 100%;
}

@media (min-width: 1700px) {
  .home-page .benefit-video-section .bg-wave-bottom {
    background-size: cover;
    height: 70%;
  }
}

.home-page .benefit-video-section .benefit-section {
  position: relative;
}

.home-page .benefit-video-section .benefit-section .container {
  padding-top: 340px;
}

.home-page .benefit-video-section .benefit-section .container .benefit-slick {
  top: -150px;
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper {
  padding: 100px 0;
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-col {
  padding: 30px 80px;
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-icon {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 88px;
  height: 88px;
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .new-icon {
  position: absolute;
  top: -22%;
  right: 30%;
  width: 160px;
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj {
  position: absolute;
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-1 {
  top: -70px;
  left: -50px;
  width: 150px;
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-1 img {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-2 {
  top: -70px;
  right: -60px;
  width: 130px;
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-2 img {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-3 {
  bottom: -20px;
  left: -50px;
  width: 100px;
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-3 img {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-4 {
  bottom: -40px;
  right: -60px;
  width: 130px;
}

.home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-4 img {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

@media (min-width: 1420px) {
  .home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj {
    position: absolute;
  }
  .home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-1 {
    top: -80px;
    left: -120px;
    width: 200px;
  }
  .home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-1 img {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-2 {
    top: -70px;
    right: -60px;
    width: 170px;
  }
  .home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-2 img {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  .home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-3 {
    bottom: -20px;
    left: -100px;
    width: 150px;
  }
  .home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-3 img {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-4 {
    bottom: -80px;
    right: -80px;
    width: 200px;
  }
  .home-page .benefit-video-section .benefit-section .container .vs-wrapper .vs-row .vs-obj.vs-obj-4 img {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

.home-page .benefit-video-section .benefit-section .container .result-wrapper .test-result-row {
  max-width: 900px;
  margin: auto;
}

.home-page .benefit-video-section .benefit-section-mobile .accordion-button.collapsed {
  color: #0070C0;
  background: #ffffff;
}

.home-page .benefit-video-section .benefit-section-mobile .accordion-button.collapsed:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.home-page .benefit-video-section .benefit-section-mobile .accordion-button:not(.collapsed) {
  color: #ffffff;
  background: #1f4899;
}

.home-page .benefit-video-section .benefit-section-mobile .accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.home-page .benefit-video-section .video-section {
  position: relative;
  padding: 100px 0;
  margin-top: -100px;
}

@media (max-width: 768px) {
  .home-page .benefit-video-section .video-section {
    margin: unset;
  }
}

@media (max-width: 575.98px) {
  .home-page .benefit-video-section .video-section {
    padding: 65px 0;
  }
}

.home-page .benefit-video-section .video-section .bottom-line {
  width: 100px;
  height: 2px;
  margin: 30px 0;
}

@media (max-width: 575.98px) {
  .home-page .benefit-video-section .video-section .bottom-line {
    margin: 20px auto;
  }
}

.home-page .play-section {
  position: relative;
}

.home-page .play-section .desc-container {
  position: absolute;
  width: 31%;
  left: 65%;
  top: 20%;
  z-index: 1;
}

@media (max-width: 1199.98px) {
  .home-page .play-section .desc-container {
    width: 34%;
    left: 60%;
    top: 5%;
  }
}

@media (max-width: 991.98px) {
  .home-page .play-section .desc-container {
    width: 41%;
    left: 57%;
    top: 0%;
  }
}

@media (max-width: 767.98px) {
  .home-page .play-section .desc-container {
    position: initial;
    background: #322372;
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 991.98px) {
  .home-page .play-section .desc-container .desc-wrap {
    padding-bottom: 0 !important;
  }
}

@media (max-width: 1199.98px) {
  .home-page .play-section .btn-padding-lg {
    padding: 12px 40px;
  }
}

.home-page .play-section .bottom-line {
  width: 100px;
  height: 2px;
  margin: 30px 0;
}

.home-page .play-section .btns-wrap {
  display: inline-block;
  width: 100%;
}

@media (max-width: 767.98px) {
  .home-page .play-section .btns-wrap a {
    width: 100%;
    float: left;
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
}

.promotion-section .promotion-slick .slick-item {
  position: relative;
}

.promotion-section .promotion-slick .slick-item.banner1 .btn-shop-now {
  position: absolute;
  top: 70%;
  left: 12%;
}

.promotion-section .promotion-slick .slick-item .price {
  position: absolute;
  top: 8%;
  right: 8%;
  width: 28%;
}

.promotion-section .promotion-slick .slick-dots {
  bottom: 50px;
}

.promotion-section .promotion-slick-mobile .slick-item {
  position: relative;
}

.promotion-section .promotion-slick-mobile .slick-item .btn-promotion {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.promotion-section .promotion-slick-mobile .slick-item .btn-promotion .btn-shop-now {
  width: 200px;
  text-align: center;
}

.promotion-section .slick-arrow.slick-next:before {
  right: 50px;
}

@media (max-width: 575.98px) {
  .promotion-section .slick-arrow.slick-next:before {
    right: 15px;
  }
}

.promotion-section .slick-arrow.slick-prev:before {
  left: 50px;
}

@media (max-width: 575.98px) {
  .promotion-section .slick-arrow.slick-prev:before {
    left: 15px;
  }
}

.promotion-section .slick-next {
  right: 0;
}

.promotion-section .slick-prev {
  left: 0;
}

.promotion-section .slick-dots {
  bottom: 20px;
}

.form-section {
  position: relative;
  z-index: 50;
}

.form-section .sampling-form {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#91D1FF), to(#1C90E3));
  background-image: linear-gradient(to bottom right, #91D1FF, #1C90E3);
  padding: 50px 25px;
}

.form-section .sampling-form .sampling-line1 {
  height: 2px !important;
  opacity: 1 !important;
  max-width: 73px;
  margin: auto;
}

.form-section .sampling-form form label {
  font-size: 18px;
  margin-bottom: 4px;
}

.form-section .sampling-form form .grey-option {
  color: #CFCFCF;
}

@media (max-width: 575.98px) {
  .form-section .sampling-form form .find-link {
    text-align: center !important;
  }
}

.form-section .sampling-form form .form-select {
  background: url("~assets/img/select_arrow.png") no-repeat right 10px center #FFFFFF;
  background-size: 18px;
  -webkit-appearance: none;
  padding: 10px 20px;
  font-size: 18px;
  height: 55px;
  border: none !important;
}

.form-section .sampling-form form .form-check-input {
  width: 15px !important;
  height: 15px !important;
  margin-top: 6px !important;
}

.form-section .sampling-form form .sampling-line2 {
  height: 1px !important;
  opacity: 1 !important;
}

.form-section .sampling-form form .communication-option {
  margin-left: 20px;
}

@media (max-width: 321px) {
  .form-section .sampling-form form .communication-option {
    margin-left: 3px;
  }
}

.form-section .sampling-form form .invalid-feedback {
  color: red;
  font-size: 15px;
}

.form-section .sampling-form form .btn-sampling {
  background-color: #0070C0;
  border: #0070C0;
  border-radius: 6px;
}

/*redemption page*/
.redeem-page {
  font-family: 'Calibri';
}

.redeem-page .redeem-masthead {
  position: relative;
  pointer-events: none;
}

.redeem-page .redeem-masthead .bg-img-desktop {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #5057a7), color-stop(50%, transparent));
  background: linear-gradient(to bottom, #5057a7 50%, transparent 50%);
}

@media (max-width: 1199.98px) {
  .redeem-page .redeem-masthead .bg-img-desktop {
    padding-top: 10%;
  }
}

.redeem-page .redeem-masthead .bg-img-mobile {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #5057a7), color-stop(50%, transparent));
  background: linear-gradient(to bottom, #5057a7 50%, transparent 50%);
}

@media (max-width: 400px) {
  .redeem-page .redeem-masthead .bg-img-mobile {
    padding-top: 20%;
  }
}

.redeem-page .redeem-masthead .logo-wrapper {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
}

.redeem-page .redeem-masthead .logo-wrapper .logo {
  width: 50%;
  max-width: 200px;
  margin: auto;
}

.redeem-page .redeem-masthead .logo-wrapper .bottom-line {
  width: 55px;
  height: 2px;
  margin: 30px auto;
}

.redeem-page .redeem-masthead .code-wrapper {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

@media (max-width: 767.98px) {
  .redeem-page .redeem-masthead .code-wrapper {
    bottom: 20%;
  }
}

.redeem-page .redeem-masthead .code-wrapper .redeem-code {
  width: 50%;
  margin: auto;
  max-width: 300px;
}

@media (max-width: 575.98px) {
  .redeem-page .redeem-footer {
    margin-top: -50px;
  }
}

.redeem-page .redeem-footer .btn-redeem {
  max-width: 280px;
  width: 80%;
}

.redeemModal {
  font-family: 'Calibri';
}

.redeemModal .modal-body {
  max-width: 300px;
  margin: auto;
}

.redeemModal .bottom-line {
  width: 55px;
  height: 2px;
  margin: 30px auto;
}

.redeemModal .btn-footer-modal {
  width: 100%;
}

.redeemModal .btn-footer-modal button {
  max-width: 200px;
  width: 80%;
}

.termsModal {
  font-family: 'Calibri';
}
/*# sourceMappingURL=custom.css.map */

/*Homepage - social section*/
.bg-social {
  position: relative;
  overflow: hidden;
}

.bg-social .social-container {
  position: relative;
}

@media (max-width: 767.98px) {
  .bg-social .social-container {
    padding-right: 0;
  }
}

@media (max-width: 575.98px) {
  .bg-social .social-container .wrap-ttl {
    padding: 0 !important;
    margin-bottom: 1rem !important;
  }
}

.bg-social .social-container .wrap-ttl .sec-ttl {
  position: relative;
}

@media (max-width: 575.98px) {
  .bg-social .social-container .wrap-ttl .sec-ttl {
    padding: 0 !important;
    margin-bottom: 1rem !important;
  }
}

/*.bg-social .social-container .wrap-ttl .sec-ttl:before {
  content: '';
  background: url("../img/homepage/ttl_search.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 65px;
  height: 100px;
  top: 16%;
  margin-left: -65px;
}*/

.bg-social .social-container .feature-ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg-social .social-container .feature-ttl .social-icon {
  padding: 4px;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-social .social-container .feature-col-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 225px;
}

.bg-social .social-container .action-icon {
  color: #000000;
  cursor: pointer;
}

@media (max-width: 1199.98px) {
  .bg-social .social-container .action-icon {
    font-size: 1.3rem;
  }
}

.bg-social .social-container .action-icon .icon {
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 17px;
}

.bg-social .social-container .action-icon.heart .icon {
  background: url(~assets/img/svg/action-like.svg);
  -webkit-animation: heart 0.6s cubic-bezier(0.17, 0.89, 0.32, 1.49);
          animation: heart 0.6s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

.bg-social .social-container .action-icon.heart.active .icon {
  background: url(~assets/img/svg/action-liked.svg);
  -webkit-animation: heart 0.6s cubic-bezier(0.17, 0.89, 0.32, 1.49);
          animation: heart 0.6s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

.bg-social .social-container .action-icon.heart:hover .icon {
  background: url(~assets/img/svg/action-liked.svg);
}

.bg-social .social-container .action-icon.comment .icon {
  background: url(~assets/img/svg/action-comment.svg);
}

.bg-social .social-container .action-icon.comment:hover .icon {
  background: url(~assets/img/svg/action-commented.svg);
}

.bg-social .social-container .action-icon.share .icon {
  background: url(~assets/img/svg/action-share.svg);
}

.bg-social .social-container .action-icon.share:hover .icon {
  background: url(~assets/img/svg/action-shared.svg);
}

.bg-social .social-container .feature-img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 100%;
  height: 100%;
}

.bg-social .social-container .normal-img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 100%;
  padding-top: 57%;
}

@media (max-width: 1199.98px) {
  .bg-social .social-container .normal-img {
    padding-top: 70%;
  }
}

.bg-social .social-container .col-normal-post .social-icon {
  position: absolute;
  right: 16px;
  top: 16px;
  padding: 4px;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .bg-social .social-container .col-normal-post .box {
    width: 260px;
    margin: 10px;
  }
}

@media (max-width: 767.98px) {
  .bg-social .social-container .col-normal-post .box .rounded-lg {
    width: 260px;
    position: relative;
  }
}

@media (max-width: 767.98px) {
  .bg-social .social-container .col-normal-post .box .rounded-lg .social-icon {
    right: 6px;
    top: 6px;
  }
}

.bg-social .social-container .col-normal-post .feature-post-mobile .feature-col-img {
  margin-bottom: 10px;
}

.bg-social .social-container .col-normal-post .feature-post-mobile .feature-col-img .feature-img {
  padding-top: 50%;
}

.bg-social .social-container .col-normal-post .feature-post-mobile .feature-col-desc {
  height: 117px;
  background: #fff;
}

@media (max-width: 575.98px) {
  .bg-social .more-btn {
    margin: 0 !important;
    padding: 0px !important;
  }
}

.bg-social .footer-deco {
  position: absolute;
  z-index: -1;
  bottom: 3%;
  right: 0%;
  width: 200px;
}