/*bootstrap - breakpoints*/
@import "../assets/scss/functions";
@import "../assets/scss/variables";
@import "../assets/scss/mixins/breakpoints";



.game-body {
    .font-bubble {
        font-family: 'Bubble';
    }

    .font-black {
        font-family: 'Gotham-black';
    }

    h5 {
        @include media-breakpoint-down (lg) {
            font-size: 2rem;
        }
    }

    .font-20 {
        @include media-breakpoint-down (lg) {
            font-size: 1.6rem;
        }
    }

    .font-400 {
        font-weight: 400;
    }

    .font-700 {
        font-weight: 700;
    }

    .howtoplay-box {

        p,
        span {
            font-family: 'Montserrat', sans-serif;
        }
    }
}

.game-section {
    position: relative;
    z-index: 0;
    height: 0;
    overflow: hidden;

    .header {
        background: radial-gradient(circle, rgba(255, 96, 201, 1) 0%, rgba(221, 51, 194, 1) 100%);
        height: 10vh;
        position: absolute;
        z-index: 1;
        width: 100%;

        .icon-time {
            img {
                height: 6vh;
            }
        }

        .ttl-score {
            font-size: 5vh !important;
        }

        .timer,
        .score {
            position: relative;

            img {
                height: 10vh;
            }

            .txt-timer,
            .txt-score {
                position: absolute;
                top: 1.6vh;
                left: 44%;
                transform: translateX(-50%);
                width: 100%;
                text-align: center;
                margin-bottom: 0px;
                font-size: 5vh !important;
            }
        }
    }

    .count {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;

        img {
            height: 40vh;
        }
    }

    .items {
        position: absolute;
        width: 13vh;
        height: 13vh;
        top: -5%;
        left: 0;
        background-image: url("../img/game/item.png");
        background-size: cover;
        display: none;
        z-index: 1;

        &.i1 {
            background-position: 0% 0%;
        }

        &.i2 {
            background-position: 27% 0%;
        }

        &.i3 {
            background-position: 53% 0%;
        }

        &.i4 {
            background-position: 76% 0%;
        }

        &.i5 {
            background-position: 100% 0%;
        }

    }

    .walter {
        position: absolute;
        z-index: 1;
        bottom: 5vh;
        left: 48%;
        transform: translateX(-50%);
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background: url(../img/game/walter_sprite.png);
        width: 21vh;
        height: 30vh;

        &.walter-1 {
            background-position: -7vh 0;
        }

        &.walter-2 {
            background-position: -37.5vh 0;
        }

        &.walter-3 {
            background-position: -68.5vh 0;
        }

        &.walter-4 {
            background-position: -93.6vh 0;
            width: 30vh;
        }


        img {
            height: 40vh;
        }
    }

    .bg {
        background-image: url(../img/game/bg_sky.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 90vh;
        overflow: hidden;
    }

    .footer {
        background: #ffffff;
        height: 10vh;
        width: 100%;
        border-top: 8px solid #620096;
        z-index: 1;
        position: absolute;
        bottom: 0;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 1;
        pointer-events: none;
    }

    .four-stars-box {
        .box-bg {
            position: relative;
            z-index: 1;

            .ttl {
                position: absolute;
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
                bottom: calc(100% - 90px);
                width: 33%;
            }

            &::after {
                content: '';
                position: absolute;
                background-color: #ffffff;
                border-radius: 30px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(2deg);
                width: 720px;
                max-width: 81%;
                height: calc(100% - 100px);
                z-index: -1;

            }

            .box-container {
                max-width: 800px;
                width: 100%;
                margin: auto;
                position: relative;

                &.four-stars-border {
                    border-image-slice: 160;
                    border-image-width: 100px;
                    border-image-outset: 0px 0px 0px 0px;
                    border-image-repeat: stretch stretch;
                    border-image-source: url(../img/game/border2.png);
                    border-style: solid;
                    border-width: 80px;

                    @include media-breakpoint-down(lg) {
                        border-image-width: 100px;
                        border-width: 50px;
                    }
                }

                .btn-box-close {
                    position: absolute;
                    right: -70px;
                    top: -50px;
                    width: 100px;

                    @include media-breakpoint-down(lg) {
                        right: -7%;
                        top: -7%;
                        width: 13%;
                        min-width: 80px;
                    }
                }
            }

            .wrap {
                padding: 3rem 0 5rem;
                max-width: 400px;
                margin: auto;

                @include media-breakpoint-down(lg) {
                    padding: 5rem 0 6rem;
                    max-width: 75%;
                }

                .score {
                    position: relative;

                    img {
                        height: 80px;

                        @include media-breakpoint-down(lg) {
                            height: 60px;
                        }
                    }

                    .txt-score {
                        position: absolute;
                        top: 21px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        text-align: center;
                        margin-bottom: 0px;
                        font-size: 30px;

                        @include media-breakpoint-down(lg) {
                            top: 16px;
                            font-size: 22px;
                        }
                    }
                }
            }
        }

        &.box {
            position: absolute;
            z-index: 1;
            top: -100%;
            left: 50%;
            transform: translateX(-50%);
            max-width: 600px;
            width: 81%;
            overflow-y: auto;
            height: 100%;
        }

    }

    .btn-cloud {
        width: 33%;
        position: absolute;
        top: calc(100% - 60px);
        left: 50%;
        transform: translate(-50%, -50%) scale(1);

        &:hover {
            transform: translate(-50%, -50%) scale(.93);
        }

        &.btn-replay,
        &.btn-replay2 {
            left: 35%;
        }

        &.btn-submit,
        &.btn-confirm {
            left: 65%;
        }
    }
}

.dreaming {
    position: relative;
    width: 100%;

    .dream-on-top {
        background-image: url(../img/game/dream_on_top.png);
        background-position: top;
        background-repeat: repeat-x;
        background-size: contain;
        width: 100%;
        height: 100px;
        position: absolute;
        top: -500px;
        z-index: 1;
        pointer-events: none;
    }

    .dream-dot {
        position: absolute;
        z-index: 1;
        opacity: 0;
        pointer-events: none;

        &.dream-dot1 {
            width: 2%;
            top: 30vh;
            left: 48%;
        }

        &.dream-dot2 {
            width: 3%;
            top: 24vh;
            left: 45%;
        }

        &.dream-dot3 {
            width: 4%;
            top: 16vh;
            left: 42%;
        }
    }
}

.intro-section {
    overflow-x: hidden;
    position: relative;
    background-image: url(../img/game/room.jpg);
    background-position: 10% 0%;
    background-repeat: no-repeat;
    background-size: 160%;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 30px;

    // p,
    // span {
    //     font-family: 'Roboto', sans-serif;
    // }

    .box {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 200%;
        transform: translate(-50%, 0%);
        opacity: 0;
        max-width: 800px;
        width: 85%;

        &.initial-box {
            width: 70%;
            max-width: 1130px;
            position: absolute;
            top: -3%;
            left: 3%;
            right: 40%;
            transform: translate(0px, 0px);
            opacity: 1;

            @media (max-height:400px) {
                width: 60%;
            }
        }

        &.dream-box {
            margin-left: 50px;
        }

        .walter {
            position: absolute;
            bottom: -20px;
            left: -20px;
            width: 30%;
            background-image: none;
            z-index: 1;
        }
    }

    .btn-cloud {
        &.btn-how {
            width: 35%;
            position: absolute;
            top: 69%;
            left: 30%;
            z-index: 1;
        }

        &.btn-play {
            width: 30%;
            position: absolute;
            top: 61%;
            right: 10%;
            z-index: 1;
        }

        &.btn-join,
        &.btn-next-step,
        &.btn-next,
        &.btn-start-game {
            width: 33%;
            position: absolute;
            top: calc(100% - 60px);
            left: 50%;
            transform: translate(-50%, -50%) scale(1);

            @include media-breakpoint-down (lg) {
                width: 26%;
            }

            &:hover {
                transform: translate(-50%, -50%) scale(.93);
            }
        }

    }


    .two-stars-box {
        .box-bg {
            position: relative;
            z-index: 1;

            .ttl {
                position: absolute;
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
                bottom: calc(100% - 90px);
            }

            &::after {
                content: '';
                position: absolute;
                background-color: #ffffff;
                border-radius: 30px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(2deg);
                width: 720px;
                max-width: 85%;
                height: calc(100% - 120px);
                z-index: -1;
            }

            .box-container {
                max-width: 800px;
                width: 100%;
                margin: auto;
                position: relative;

                &.two-stars-border {
                    border-image-slice: 160;
                    border-image-width: 100px;
                    border-image-outset: 0px 0px 0px 0px;
                    border-image-repeat: stretch stretch;
                    border-image-source: url(../img/game/border.png);
                    border-style: solid;
                    border-width: 80px;

                    @include media-breakpoint-down(lg) {
                        border-image-width: 100px;
                        border-width: 50px;
                    }

                    #err_msg_wrapper {
                        text-align: center;
                        color: red;
                    }
                }

                .btn-box-close {
                    position: absolute;
                    right: -70px;
                    top: -50px;
                    width: 100px;


                    @include media-breakpoint-down(lg) {
                        right: -7%;
                        top: -7%;
                        width: 13%;
                        min-width: 80px;
                    }
                }
            }

            .wrap {
                padding: 3rem 0 7rem;
                max-width: 550px;
                margin: auto;

                @include media-breakpoint-down(lg) {
                    padding: 5rem 0 6rem;
                    max-width: 85%;
                }
            }
        }

        &.introduction-box {
            .box-bg {
                .ttl {
                    //top: 0;
                    // max-width: 460px;
                    width: 40%;
                }

                .box-container {
                    .wrap {
                        padding: 6rem 0 10rem;
                        max-width: 550px;
                        margin: auto;

                        @include media-breakpoint-down(lg) {
                            padding: 5rem 0 8rem;
                            max-width: 85%;
                        }
                    }
                }
            }
        }

        &.form-box {
            .box-bg {
                .ttl {
                    width: 45%;
                }

                .box-container {
                    .wrap {
                        margin: auto;
                        max-width: 80%;
                        width: 500px;

                        .form-control {
                            @include media-breakpoint-down(lg) {
                                height: 40px;
                                font-size: 1.6rem;
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }

        &.howtoplay-box {
            .box-bg {
                .ttl {
                    // max-width: 380px;
                    width: 35%;
                }

                .step1-img {
                    width: 100%;
                    max-width: 350px;
                    margin: auto;

                    @include media-breakpoint-down(lg) {
                        max-width: 40%;
                    }
                }

                .step2-img {
                    width: 100%;
                    max-width: 450px;
                    margin: auto;

                    @include media-breakpoint-down(lg) {
                        max-width: 65%;
                    }
                }

                .step3-img {
                    width: 100%;
                    max-width: 120px;
                    margin: auto;

                    @include media-breakpoint-down(lg) {
                        max-width: 15%;
                    }
                }
            }
        }
    }
}




@media (orientation: portrait) {
    .game-body {
        background: #252525;
        height: 100vh;
        width: 100vw;

        &::after {
            position: absolute;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            content: "";
            background-image: url('../img/game/rotate_device.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 200px;
            height: 100%;
        }

        .game-section,
        .dreaming,
        .intro-section {
            display: none;
        }
    }
}