/*bootstrap - breakpoints*/
.game-body .font-bubble {
  font-family: 'Bubble';
}

.game-body .font-black {
  font-family: 'Gotham-black';
}

@media (max-width: 991.98px) {
  .game-body h5 {
    font-size: 2rem;
  }
}

@media (max-width: 991.98px) {
  .game-body .font-20 {
    font-size: 1.6rem;
  }
}

.game-body .font-400 {
  font-weight: 400;
}

.game-body .font-700 {
  font-weight: 700;
}

.game-body .howtoplay-box p,
.game-body .howtoplay-box span {
  font-family: 'Montserrat', sans-serif;
}

.game-section {
  position: relative;
  z-index: 0;
  height: 0;
  overflow: hidden;
}

.game-section .header {
  background: radial-gradient(circle, #ff60c9 0%, #dd33c2 100%);
  height: 10vh;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.game-section .header .icon-time img {
  height: 6vh;
}

.game-section .header .ttl-score {
  font-size: 5vh !important;
}

.game-section .header .timer,
.game-section .header .score {
  position: relative;
}

.game-section .header .timer img,
.game-section .header .score img {
  height: 10vh;
}

.game-section .header .timer .txt-timer,
.game-section .header .timer .txt-score,
.game-section .header .score .txt-timer,
.game-section .header .score .txt-score {
  position: absolute;
  top: 1.6vh;
  left: 44%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  font-size: 5vh !important;
}

.game-section .count {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.game-section .count img {
  height: 40vh;
}

.game-section .items {
  position: absolute;
  width: 13vh;
  height: 13vh;
  top: -5%;
  left: 0;
  background-image: url("~assets/img/game/item.png");
  background-size: cover;
  display: none;
  z-index: 1;
}

.game-section .items.i1 {
  background-position: 0% 0%;
}

.game-section .items.i2 {
  background-position: 27% 0%;
}

.game-section .items.i3 {
  background-position: 53% 0%;
}

.game-section .items.i4 {
  background-position: 76% 0%;
}

.game-section .items.i5 {
  background-position: 100% 0%;
}

.game-section .walter {
  position: absolute;
  z-index: 1;
  bottom: 5vh;
  left: 48%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: url(~assets/img/game/walter_sprite.png);
  width: 21vh;
  height: 30vh;
}

.game-section .walter.walter-1 {
  background-position: -7vh 0;
}

.game-section .walter.walter-2 {
  background-position: -37.5vh 0;
}

.game-section .walter.walter-3 {
  background-position: -68.5vh 0;
}

.game-section .walter.walter-4 {
  background-position: -93.6vh 0;
  width: 30vh;
}

.game-section .walter img {
  height: 40vh;
}

.game-section .bg {
  background-image: url(~assets/img/game/bg_sky.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.game-section .footer {
  background: #ffffff;
  height: 10vh;
  width: 100%;
  border-top: 8px solid #620096;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.game-section .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.game-section .four-stars-box .box-bg {
  position: relative;
  z-index: 1;
}

.game-section .four-stars-box .box-bg .ttl {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: calc(100% - 90px);
  width: 33%;
}

.game-section .four-stars-box .box-bg::after {
  content: '';
  position: absolute;
  background-color: #ffffff;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(2deg);
          transform: translate(-50%, -50%) rotate(2deg);
  width: 720px;
  max-width: 81%;
  height: calc(100% - 100px);
  z-index: -1;
}

.game-section .four-stars-box .box-bg .box-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  position: relative;
}

.game-section .four-stars-box .box-bg .box-container.four-stars-border {
  border-image-slice: 160;
  border-image-width: 100px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(~assets/img/game/border2.png);
  border-style: solid;
  border-width: 80px;
}

@media (max-width: 991.98px) {
  .game-section .four-stars-box .box-bg .box-container.four-stars-border {
    border-image-width: 100px;
    border-width: 50px;
  }
}

.game-section .four-stars-box .box-bg .box-container .btn-box-close {
  position: absolute;
  right: -70px;
  top: -50px;
  width: 100px;
}

@media (max-width: 991.98px) {
  .game-section .four-stars-box .box-bg .box-container .btn-box-close {
    right: -7%;
    top: -7%;
    width: 13%;
    min-width: 80px;
  }
}

.game-section .four-stars-box .box-bg .wrap {
  padding: 3rem 0 5rem;
  max-width: 400px;
  margin: auto;
}

@media (max-width: 991.98px) {
  .game-section .four-stars-box .box-bg .wrap {
    padding: 5rem 0 6rem;
    max-width: 75%;
  }
}

.game-section .four-stars-box .box-bg .wrap .score {
  position: relative;
}

.game-section .four-stars-box .box-bg .wrap .score img {
  height: 80px;
}

@media (max-width: 991.98px) {
  .game-section .four-stars-box .box-bg .wrap .score img {
    height: 60px;
  }
}

.game-section .four-stars-box .box-bg .wrap .score .txt-score {
  position: absolute;
  top: 21px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  font-size: 30px;
}

@media (max-width: 991.98px) {
  .game-section .four-stars-box .box-bg .wrap .score .txt-score {
    top: 16px;
    font-size: 22px;
  }
}

.game-section .four-stars-box.box {
  position: absolute;
  z-index: 1;
  top: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 600px;
  width: 81%;
  overflow-y: auto;
  height: 100%;
}

.game-section .btn-cloud {
  width: 33%;
  position: absolute;
  top: calc(100% - 60px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.game-section .btn-cloud:hover {
  -webkit-transform: translate(-50%, -50%) scale(0.93);
          transform: translate(-50%, -50%) scale(0.93);
}

.game-section .btn-cloud.btn-replay, .game-section .btn-cloud.btn-replay2 {
  left: 35%;
}

.game-section .btn-cloud.btn-submit, .game-section .btn-cloud.btn-confirm {
  left: 65%;
}

.dreaming {
  position: relative;
  width: 100%;
}

.dreaming .dream-on-top {
  background-image: url(~assets/img/game/dream_on_top.png);
  background-position: top;
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 100px;
  position: absolute;
  top: -500px;
  z-index: 1;
  pointer-events: none;
}

.dreaming .dream-dot {
  position: absolute;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.dreaming .dream-dot.dream-dot1 {
  width: 2%;
  top: 30vh;
  left: 48%;
}

.dreaming .dream-dot.dream-dot2 {
  width: 3%;
  top: 24vh;
  left: 45%;
}

.dreaming .dream-dot.dream-dot3 {
  width: 4%;
  top: 16vh;
  left: 42%;
}

.intro-section {
  overflow-x: hidden;
  position: relative;
  background-image: url(~assets/img/game/room.jpg);
  background-position: 10% 0%;
  background-repeat: no-repeat;
  background-size: 160%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 30px;
}

.intro-section .box {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 200%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  opacity: 0;
  max-width: 800px;
  width: 85%;
}

.intro-section .box.initial-box {
  width: 70%;
  max-width: 1130px;
  position: absolute;
  top: -3%;
  left: 3%;
  right: 40%;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

@media (max-height: 400px) {
  .intro-section .box.initial-box {
    width: 60%;
  }
}

.intro-section .box.dream-box {
  margin-left: 50px;
}

.intro-section .box .walter {
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 30%;
  background-image: none;
  z-index: 1;
}

.intro-section .btn-cloud.btn-how {
  width: 35%;
  position: absolute;
  top: 69%;
  left: 30%;
  z-index: 1;
}

.intro-section .btn-cloud.btn-play {
  width: 30%;
  position: absolute;
  top: 61%;
  right: 10%;
  z-index: 1;
}

.intro-section .btn-cloud.btn-join, .intro-section .btn-cloud.btn-next-step, .intro-section .btn-cloud.btn-next, .intro-section .btn-cloud.btn-start-game {
  width: 33%;
  position: absolute;
  top: calc(100% - 60px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 991.98px) {
  .intro-section .btn-cloud.btn-join, .intro-section .btn-cloud.btn-next-step, .intro-section .btn-cloud.btn-next, .intro-section .btn-cloud.btn-start-game {
    width: 26%;
  }
}

.intro-section .btn-cloud.btn-join:hover, .intro-section .btn-cloud.btn-next-step:hover, .intro-section .btn-cloud.btn-next:hover, .intro-section .btn-cloud.btn-start-game:hover {
  -webkit-transform: translate(-50%, -50%) scale(0.93);
          transform: translate(-50%, -50%) scale(0.93);
}

.intro-section .two-stars-box .box-bg {
  position: relative;
  z-index: 1;
}

.intro-section .two-stars-box .box-bg .ttl {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: calc(100% - 90px);
}

.intro-section .two-stars-box .box-bg::after {
  content: '';
  position: absolute;
  background-color: #ffffff;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(2deg);
          transform: translate(-50%, -50%) rotate(2deg);
  width: 720px;
  max-width: 85%;
  height: calc(100% - 120px);
  z-index: -1;
}

.intro-section .two-stars-box .box-bg .box-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  position: relative;
}

.intro-section .two-stars-box .box-bg .box-container.two-stars-border {
  border-image-slice: 160;
  border-image-width: 100px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(~assets/img/game/border.png);
  border-style: solid;
  border-width: 80px;
}

@media (max-width: 991.98px) {
  .intro-section .two-stars-box .box-bg .box-container.two-stars-border {
    border-image-width: 100px;
    border-width: 50px;
  }
}

.intro-section .two-stars-box .box-bg .box-container.two-stars-border #err_msg_wrapper {
  text-align: center;
  color: red;
}

.intro-section .two-stars-box .box-bg .box-container .btn-box-close {
  position: absolute;
  right: -70px;
  top: -50px;
  width: 100px;
}

@media (max-width: 991.98px) {
  .intro-section .two-stars-box .box-bg .box-container .btn-box-close {
    right: -7%;
    top: -7%;
    width: 13%;
    min-width: 80px;
  }
}

.intro-section .two-stars-box .box-bg .wrap {
  padding: 3rem 0 7rem;
  max-width: 550px;
  margin: auto;
}

@media (max-width: 991.98px) {
  .intro-section .two-stars-box .box-bg .wrap {
    padding: 5rem 0 6rem;
    max-width: 85%;
  }
}

.intro-section .two-stars-box.introduction-box .box-bg .ttl {
  width: 40%;
}

.intro-section .two-stars-box.introduction-box .box-bg .box-container .wrap {
  padding: 6rem 0 10rem;
  max-width: 550px;
  margin: auto;
}

@media (max-width: 991.98px) {
  .intro-section .two-stars-box.introduction-box .box-bg .box-container .wrap {
    padding: 5rem 0 8rem;
    max-width: 85%;
  }
}

.intro-section .two-stars-box.form-box .box-bg .ttl {
  width: 45%;
}

.intro-section .two-stars-box.form-box .box-bg .box-container .wrap {
  margin: auto;
  max-width: 80%;
  width: 500px;
}

@media (max-width: 991.98px) {
  .intro-section .two-stars-box.form-box .box-bg .box-container .wrap .form-control {
    height: 40px;
    font-size: 1.6rem;
    padding: 10px;
  }
}

.intro-section .two-stars-box.howtoplay-box .box-bg .ttl {
  width: 35%;
}

.intro-section .two-stars-box.howtoplay-box .box-bg .step1-img {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

@media (max-width: 991.98px) {
  .intro-section .two-stars-box.howtoplay-box .box-bg .step1-img {
    max-width: 40%;
  }
}

.intro-section .two-stars-box.howtoplay-box .box-bg .step2-img {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

@media (max-width: 991.98px) {
  .intro-section .two-stars-box.howtoplay-box .box-bg .step2-img {
    max-width: 65%;
  }
}

.intro-section .two-stars-box.howtoplay-box .box-bg .step3-img {
  width: 100%;
  max-width: 120px;
  margin: auto;
}

@media (max-width: 991.98px) {
  .intro-section .two-stars-box.howtoplay-box .box-bg .step3-img {
    max-width: 15%;
  }
}

@media (orientation: portrait) {
  .game-body {
    background: #252525;
    height: 100vh;
    width: 100vw;
  }
  .game-body::after {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    content: "";
    background-image: url("~assets/img/game/rotate_device.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 100%;
  }
  .game-body .game-section,
  .game-body .dreaming,
  .game-body .intro-section {
    display: none;
  }
}
/*# sourceMappingURL=game.css.map */