/*overwrite boostrap Variables here!!*/
$border-radius: .8rem !default;
$border-radius-sm: 1rem !default;
$border-radius-lg: 1.5rem !default;

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px) !default;

$modal-fade-transform: scale(.8);
$enable-negative-margins: true;

@import "../assets/scss/bootstrap";