<template>
	<footer class="text-center">
	    <div class="footer-content py-4 d-flex align-items-center justify-content-between wrap-reverse">
	        <div>
	            <text class="copyright font-calibri">Copyright ©2021 LANEIGE Singapore.All Rights Reserved.</text>
	        </div>
	        <div class="footer-social d-flex align-items-center">
	            <div class="px-3">
	                <text class="font-calibri">Follow Us On</text>
	            </div>
	            <div class="d-flex align-items-center py-md-0 py-3">
	                <div class="px-3">
	                    <a href="https://www.facebook.com/sglaneige?_rdc=2&_rdr" target="_blank"><img src="~assets/img/social/fb.png" width="23px"></a>
	                </div>
	                <div class="px-3">
	                    <a href="https://www.instagram.com/laneigeSG/" target="_blank"><img src="~assets/img/social/ig_black.png" width="22px"></a>
	                </div>
	                <div class="px-3">
	                    <a href="https://www.youtube.com/user/LaneigeSEA" target="_blank"><img src="~assets/img/social/yt.png" width="24px"></a>
	                </div>
	            </div>
	        </div>
	    </div>
	</footer>
</template>

