<template>
	
<div class="sampling-form text-white">
    <div style="max-width:880px;margin:auto;">
        <div class="text-center">
            <h4 class="font-calibri-bold">Sampling Event</h4>
            <hr class="sampling-line1 my-4">
            <p class="font-calibri font-18">LANEIGE invites you to wind down, relax and fall asleep with  our iconic Water Sleeping Mask as well as Cica Sleeping Mask. Wake-up to bright and clear complexion.</p>
            <p class="font-calibri-bold font-20">Sign-up and redeem your complimentary Better Sleep sampling kit now!</p>
        </div>
        <form class="py-4" id="form_register">
            <div class="row">
                <div class="col-md-6 col-12 mb-4 reg_name_wrapper">
                    <label for="validationDefault01">Name</label>
                    <input type="text" class="form-control" id="validationDefault01" name="name" value="" style="border:none!important;" onkeypress="return isTextKey(event)">
                    <div class="invalid-feedback font-calibri-bold">
                        You need to fill in name.
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4 reg_contact_wrapper">
                    <label for="validationDefault02">Mobile</label>
                    <input type="int" class="form-control" id="validationDefault02" name="contact" value="" style="border:none!important;" onkeypress="return isNumber(event)">
                    <div class="invalid-feedback font-calibri-bold">
                        You need to fill in mobile number.
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4 reg_email_wrapper">
                    <label for="validationDefault03">Email</label>
                    <input type="text" class="form-control" id="validationDefault03" name="email" value="" style="border:none!important;" >
                    <div class="invalid-feedback font-calibri-bold">
                        You need to fill in email.
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4 reg_store_wrapper">
                    <label for="validationDefault04">Preferred Store Location</label>
                    <select class="form-select" id="validationDefault04" name="store">
                        <option selected="selected" disabled class="grey-option">Choose a store</option>
                        <option value="Bugis Junction">Bugis Junction</option>
                        <option value="ION Orchard">ION Orchard</option>
                        <option value="Junction 8">Junction 8</option>
                        <option value="Jurong Point">Jurong Point</option>
                        <option value="Metro Causeway Point">Metro Causeway Point</option>
                        <option value="Metro Paragon">Metro Paragon</option>
                        <option value="NEX">NEX</option>
                        <option value="Parkway Parade">Parkway Parade</option>
                        <option value="Plaza Singapura">Plaza Singapura</option>
                        <option value="Paya Lebar Quarter">Paya Lebar Quarter</option>
                        <option value="Takashimaya">Takashimaya</option>
                        <option value="Tampines Mall">Tampines Mall</option>
                        <option value="TANGS Vivocity">TANGS Vivocity</option>
                        <option value="Waterway Point">Waterway Point</option>
                        <option value="Westgate">Westgate</option>
                    </select>
                    <div class="invalid-feedback font-calibri-bold">
                        You need to select store.
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4">
                    <label for="validationDefault05">Preferred Date of Collection (2021)</label>
                    <div class="row">
                        <div class="col-6 mb-4 reg_date_wrapper">
                            <select class="form-select valid_months" id="validationDefault05" name="months" style="text-align-last:center;">
                                <option selected="selected" disabled class="grey-option text-center">Month</option>
                                <option value="January" data-month="1">January</option>
                                <option value="February" data-month="2">February</option>
                                <!--
                                <option value="March" data-month="3">March</option>
                                <option value="April" data-month="4">April</option>
                                <option value="May" data-month="5">May</option>
                                <option value="June" data-month="6">June</option>
                                <option value="July" data-month="7">July</option>
                                <option value="August" data-month="8">August</option>
                                <option value="September" data-month="9">September</option>
                                <option value="October" data-month="10">October</option>
                                <option value="November" data-month="11">November</option>
                                <option value="December" data-month="12">December</option>
                                -->
                            </select>
                            <div class="invalid-feedback font-calibri-bold">
                                You need to select month.
                            </div>
                        </div>
                        <div class="col-6 mb-4">
                            <select class="form-select valid_days" id="validationDefault05" name="days" style="text-align-last:center;" >
                                <option selected="selected" disabled class="grey-option">Day</option>
                                <!-- <option value="1">1st</option>
                                <option value="2">2nd</option>
                                <option value="3">3rd</option>
                                <option value="4">4th</option>
                                <option value="5">5th</option>
                                <option value="6">6th</option>
                                <option value="7">7th</option>
                                <option value="8">8th</option>
                                <option value="9">9th</option>
                                <option value="10">10th</option>
                                <option value="11">11th</option>
                                <option value="12">12th</option>
                                <option value="13">13th</option>
                                <option value="14">14th</option>
                                <option value="15">15th</option>
                                <option value="16">16th</option>
                                <option value="17">17th</option>
                                <option value="18">18th</option>
                                <option value="19">19th</option>
                                <option value="20">20th</option>
                                <option value="21">21st</option>
                                <option value="22">22nd</option>
                                <option value="23">23rd</option>
                                <option value="24">24th</option>
                                <option value="25">25th</option>
                                <option value="26">26th</option>
                                <option value="27">27th</option>
                                <option value="28">28th</option>
                                <option value="29">29th</option>
                                <option value="30">30th</option>
                                <option value="31">31th</option> -->
                            </select>
                            <div class="invalid-feedback font-calibri-bold">
                                You need to select day.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4 reg_member_wrapper">
                    <label for="validationDefault06">Are You a LANEIGE Member?</label>
                    <select class="form-select" id="validationDefault06" name="member">
                        <option selected="selected" disabled class="grey-option">Choose your answer</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                    <div class="invalid-feedback font-calibri-bold">
                        You need to select one.
                    </div>
                </div>
            </div>
                <div class="find-link">
                    <p class="font-calibri-bold font-20 py-3"><img src="~assets/img/form_link.png" width="18px" style="margin-right:10px;"><a href="https://www.laneige.com/sg/en/laneige-story/store-and-location/find-a-store/find-a-store.html" target="_blank" class="text-white">Find your LANEIGE store here</a></p>
                </div>
                <hr class="sampling-line2 my-5">
                <p class="font-calibri-bold font-22">*Acknowledgement and Consent</p>
                <p class="font-calibri font-18">I acknowledge that I have read and understood the Personal Data Protection Policy of AMOREPACIFIC SINGAPORE PTE LTD at <a href="https://www.laneige.com/sg/en/index.html" target="_blank" class="font-calibri-bold" style="color:white;text-decoration:underline;">(https://www.laneige.com/sg/en/)</a>, and consent to the collection, use and disclosure of my personal data by AMORE PACIFIC SINGAPORE PTE LTD for the purposes set out in the Policy.</p>
                <div class="row my-4">
                    <div class="col-md-6 col-12">
                        <text class="font-calibri font-18 mr-5">I prefer to receive marketing communication materials via</text>
                    </div>
                    <div class="col-md-6 col-12 reg_prefer_wrapper">
                        <div class="d-flex align-itmes-center">
                        <div>
                        <input type="checkbox" class="form-check-input" id="email" value="email" name="prefer">
                        <label class="form-check-label font-calibri-bold font-18 mx-2" for="email" >Email</label>
                        </div>
                        <div class="communication-option">
                        <input type="checkbox" class="form-check-input" id="text" value="text" name="prefer">
                        <label class="form-check-label font-calibri-bold font-18 mx-2" for="text">Text</label>
                        </div>
                        <div class="communication-option">
                        <input type="checkbox" class="form-check-input" id="telephone" value="telephone" name="prefer">
                        <label class="form-check-label font-calibri-bold font-18 mx-2" for="telephone">Telephone Call</label>
                        </div>
                        </div>
                        <div class="invalid-feedback font-calibri-bold">
                            You need to choose one.
                        </div>
                    </div>
                </div>
                <div class="form-check my-3 reg_agree_wrapper">
                    <input class="form-check-input" type="checkbox" value="" name="tnc_agree" id="flexCheckDefault">
                    <label class="form-check-label font-calibri font-18 mx-3" for="flexCheckDefault">
                        I hereby agree to the the terms in the Data protection and Privacy Policy Notice. <span class="font-calibri-bold font-18"><a href="https://www.laneige.com/sg/en/regulation/privacy-policy/privacy-policy.html" target="_blank" class="text-white">MORE DETAILS ></a></span>
                    </label>
                    <div class="invalid-feedback font-calibri-bold">
                        You must agree before submitting.
                    </div>
                </div>
                <div class="text-center pt-5">
                    <button class="btn btn-sampling font-calibri-bold font-18 text-white py-3 px-5" type="submit">Submit
                        <div class="svg-icon d-inline-block btn-loading" style="display:none!important">
                            <!-- Loader SVG -->
                            <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="40" height="15" viewBox="0 0 50 30" enable-background="new 0 0 0 0" xml:space="preserve">
                            <circle fill="#fff" stroke="none" cx="6" cy="10" r="6">
                            <animate
                            attributeName="opacity"
                            dur="1s"
                            values="0;1;0"
                            repeatCount="indefinite"
                            begin="0.1"/>
                            </circle>
                            <circle fill="#fff" stroke="none" cx="26" cy="10" r="6">
                            <animate
                            attributeName="opacity"
                            dur="1s"
                            values="0;1;0"
                            repeatCount="indefinite"
                            begin="0.2"/>
                            </circle>
                            <circle fill="#fff" stroke="none" cx="46" cy="10" r="6">
                            <animate
                            attributeName="opacity"
                            dur="1s"
                            values="0;1;0"
                            repeatCount="indefinite"
                            begin="0.3"/>
                            </circle>
                            </svg>
                        </div>
                    </button>
                </div>
        </form>
    </div>
</div>

</template>

<script>
export default {

}
</script>
