<template>
	<div>
		<header>
	    <nav class="desktop-xl-only">
	        <div class="desktop-nav">
	            <div class="desktop-bg fixed-top d-flex align-items-center justify-content-between">
	                <!--div class="d-flex align-items-center" style="width:491.5px;">
	                    <a href="#" target="_blank"><img src="img/social/fb_white.png" width="22px" class="mx-3"></a>
	                    <a href="#" target="_blank"><img src="img/social/ig_white.png" width="20px" class="mx-3"></a>
	                    <a href="#" target="_blank"><img src="img/social/yt_white.png" width="24px" class="mx-3"></a>
	                </div-->
	                <div>
	                    <a href=""><img src="~/assets/img/logo/logo.png" alt="" width="160px"></a>
	                </div>
	                <div>
	                    <span class="nav-item mx-4">
	                        <a class="active font-calibri" href="#intro">Introduction</a>
	                    </span>
	                    <span class="nav-item mx-4">
	                        <a href="#product" class="font-calibri">Product Benefits</a>
	                    </span>
	                    <span class="nav-item mx-4">
	                        <a href="#video" class="font-calibri">Video</a>
	                    </span>
	                    <span class="nav-item mx-4">
	                        <a href="#promo" class="font-calibri">Playmade Collaboration</a>
	                    </span>
	                    <span class="nav-item mx-4">
	                        <a href="#play" class="font-calibri">Game</a>
	                    </span>
	                    <!--span class="nav-item mx-4">
	                        <a href="#sampling" class="font-calibri">Sampling Event</a>
	                    </span-->
	                    <span class="nav-item mx-4">
	                        <NuxtLink to="/redeem" class="font-calibri">Redeem</NuxtLink>
	                    </span>
	                </div>
	            </div>
	        </div>
	    </nav>

	    <!--Mobile Navigation Bar-->
	    <nav class="mobile-nav mobile-lg-only">
	        <div class="mobile-nav-bg">
	            <div id="mySidenav" class="sidenav">
	                <a class="closebtn" onclick="closeNav()"><img src="~assets/img/hamburger_close.png" width="30px;" ></a>
	                <div>
	                    <a href="#intro" onclick="closeNav()" class="font-calibri">Introduction</a>
	                    <a href="#product-mb" onclick="closeNav()" class="font-calibri">Product Benefits</a>
	                    <a href="#video" onclick="closeNav()" class="font-calibri">Video</a>
	                    <a href="#promo" onclick="closeNav()" class="font-calibri">Playmade Collaboration</a>
	                    <a href="#play" onclick="closeNav()" class="font-calibri">Game</a>
	                    <!--a href="#sampling" onclick="closeNav()" class="font-calibri">Sampling Event</a-->
	                </div>
	            </div>
	            <div class="d-flex align-items-center justify-content-between">
	                <div onclick="openNav()"><img src="~assets/img/hamburger_icon.png" width="30px;" ></div>
	                <div class="jusitfy-content-center"><a href=""><img src="~assets/img/logo/logo.png" width="155px"></a></div>
	                <div style="width:30px;"></div>
	            </div>
	        </div>
	    </nav>

	</header>
	</div>
</template>