<template>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content px-4 py-5">
            <div class="promotion-close">
                <img src="~assets/img/promotion/modal_close.png" width="30px" @click="$bvModal.hide('banner2Modal')">
            </div>
            <div class="modal-body position-relative">
                <nuxt-child></nuxt-child>
            </div>
        </div>
    </div>

</template>