<template>
  <div ref="cardContainer" class="sh-main node-full node" :id="'node-'+post[0].content_id"
  :data-image="post[0].image[0].small.url"
  :data-title="post[0].title"
  :data-link="$config.baseURL+'/social/post/'+post[0].content_id"
  :data-content-type="post[0].content_type">
    {{this.$route.params.slug }}
    <div class="text-center py-3">
      <p class="font-14 truncate-3">{{ post[0].title }}</p> 
    </div>
    <div>
      <img :src="post[0].image[0].large.url" class="normal-img">
    </div>
    <div class="text-center py-3">
      <p class="font-14 truncate-3">{{ post[0].body }}</p>
    </div>
    
    <div v-if="post.length > 2">
      <div v-for="(value, key) in post[2]" class="row-comment row-comment-output">
          <div class="col-profile-image">
              <div class="profile-image" v-bind:style="{ 'background-image': 'url(' + value.thumbnailURL + ')' }"></div>
          </div>
          <div class="col-message">
              <div class="name">{{ value.name }}</div>
              <div class="message message-output">{{ post[1][key].comment }}</div>
          </div>
      </div>
    </div>

    <div class="row-comment row-comment-input">
        <div class="col-profile-image">
            <div class="profile-image sh-comment-image" style="background-image: url('')"></div>
        </div>
        <div class="col-message sh-comment-input">
            <form action="#">
                <input type="hidden" name="nid" :value="post[0].content_id">
                <textarea class="message message-input" name="comment" type="text" placeholder="Add a comment" rows="1"></textarea>
            </form>
        </div>
        <div class="col-enter">
            <img src="~assets/img/enter.png" alt="enter" class="img-fluid">
        </div>
    </div>

  </div>                          
</template>

<script>
export default {
  head() {
      return {
        title: this.post[0].title,
        meta: [
          { hid: 'description', name: 'description', content: this.post[0].title },
          { property: 'og:title', content:  this.post[0].title },
          { property: 'og:description', content: this.post[0].body },
          { property: 'og:image', content: this.post[0].image[0].medium.url }
        ]
      }
  },
  data() {
    return {
        post: []
    }
  },
  base_url: process.env.BASE_URL,
  async asyncData({params, $axios }) {
    //let post = await $axios.$get(`https://talktous.innity-asia.com/demo/2021/laneige-demo/api/node.php?nid=${params.slug}`)
    let post = await $axios.$get(`http://localhost/laneige-demo/api/node.php?nid=${params.slug}`)
    return { post }
  },
  mounted() {
    // Attach listeners for handling clicks outside the card, while preventing propagation
    // of clicks in the cards
    this.$refs.cardContainer.addEventListener('click', this.stopPropagation)  
    document.body.addEventListener('click', this.closeModal)
    console.log(this.post.length);
  },

  beforeDestroy() {
    // Make sure to cleanup!
    this.$refs.cardContainer.removeEventListener('click', this.stopPropagation)  
    document.body.removeEventListener('click', this.closeModal)
  },

  methods: {
    // Prevent clicking inside the card from triggering the closeModal
    stopPropagation(e) {
       e.stopPropagation()
    },
    closeModal() {
      // You can also do this.$router.push('/') to preserve the history
      this.$router.replace('/social')
    }
  }
}
</script>