/*bootstrap - responsive font size*/
@import "../assets/scss/vendor/rfs";

/*bootstrap - breakpoints*/
@import "../assets/scss/functions";
@import "../assets/scss/variables";
@import "../assets/scss/mixins/breakpoints";


/*==================================================================================*/
/*fontface*/
/*==================================================================================*/
@font-face {
    font-family: 'Bubble';
    src: url('../assets/webfonts/bubble/BubbleBobble.eot');
    src: url('../assets/webfonts/bubble/BubbleBobble.eot?#iefix') format('embedded-opentype'),
        url('../assets/webfonts/bubble/BubbleBobble.woff2') format('woff2'),
        url('../assets/webfonts/bubble/BubbleBobble.woff') format('woff'),
        url('../assets/webfonts/bubble/BubbleBobble.ttf') format('truetype'),
        url('../assets/webfonts/bubble/BubbleBobble.svg#BubbleBobble') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('../assets/webfonts/gotham/Gotham-Black.eot');
    src: url('../assets/webfonts/gotham/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/webfonts/gotham/Gotham-Black.woff2') format('woff2'),
        url('../assets/webfonts/gotham/Gotham-Black.woff') format('woff'),
        url('../assets/webfonts/gotham/Gotham-Black.ttf') format('truetype'),
        url('../assets/webfonts/gotham/Gotham-Black.svg#Gotham-Black') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../assets/webfonts/gotham/Gotham-Book.eot');
    src: url('../assets/webfonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../assets/webfonts/gotham/Gotham-Book.woff2') format('woff2'),
        url('../assets/webfonts/gotham/Gotham-Book.woff') format('woff'),
        url('../assets/webfonts/gotham/Gotham-Book.ttf') format('truetype'),
        url('../assets/webfonts/gotham/Gotham-Book.svg#Gotham-Book') format('svg');
    font-style: normal;
}


@font-face {
    font-family: 'Calibri';
    src: url('../assets/webfonts/calibri/Calibri.eot');
    src: url('../assets/webfonts/calibri/Calibri.eot?#iefix') format('embedded-opentype'),
        url('../assets/webfonts/calibri/Calibri.woff2') format('woff2'),
        url('../assets/webfonts/calibri/Calibri.woff') format('woff'),
        url('../assets/webfonts/calibri/Calibri.ttf') format('truetype'),
        url('../assets/webfonts/calibri/Calibri.svg#Calibri') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Calibri-Bold';
    src: url('../assets/webfonts/calibri/Calibri-Bold.eot');
    src: url('../assets/webfonts/calibri/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/webfonts/calibri/Calibri-Bold.woff2') format('woff2'),
        url('../assets/webfonts/calibri/Calibri-Bold.woff') format('woff'),
        url('../assets/webfonts/calibri/Calibri-Bold.ttf') format('truetype'),
        url('../assets/webfonts/calibri/Calibri-Bold.svg#Calibri-Bold') format('svg');
    font-style: normal;
}

.font-bubble {
    font-family: 'Bubble';
}

.font-gotham {
    font-family: 'Gotham';
}

.font-black {
    font-family: 'Gotham-black';
}

.font-calibri {
    font-family: 'Calibri';
}

.font-calibri-bold {
    font-family: 'Calibri-Bold';
}


$theme-color-1: #1f4899;
$theme-color-2: #0070C0;
$theme-color-3: #233278;
$theme-color-4: #7FB7DF;
$theme-color-5: #F16F79;


$color-grey:#ECEFF2;
$color-black:#2E2E2E;
$color-border:#A7A7A7;

$color-like:#d3637c;
$color-comment:#3B94AC;
$color-share:#FCB617;
$color-fb:#1877F2;
$color-tw:#1DA1F3;
$color-in:#007BB6;
$color-wa:#1BD741;

html {
    padding: 0px;
    margin: 0px;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Gotham', 'Roboto', sans-serif;
    -webkit-overflow-scrolling: touch;
    word-break: break-word;
}

.desktop-only {
    @include media-breakpoint-down(xs) {
        display: none !important;
    }
}

.mobile-only {
    @include media-breakpoint-up(sm) {
        display: none !important;
    }
}

.desktop-md-only {
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
}

.mobile-md-only {
    @include media-breakpoint-up(md) {
        display: none !important;
    }
}

.desktop-lg-only {
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}

.mobile-lg-only {
    @include media-breakpoint-up(lg) {
        display: none !important;
    }
}

.desktop-xl-only {
    @include media-breakpoint-down(lg) {
        display: none !important;
    }
}

.mobile-xl-only {
    @include media-breakpoint-up(xl) {
        display: none !important;
    }
}


h1 {
    @include font-size(5rem);
}

h2 {
    @include font-size(4.5rem);
}

h3 {
    @include font-size(4rem);
}

h4 {
    @include font-size(3.5rem);
}

h5 {
    @include font-size(3rem);
}

.font-26 {
    @include font-size(2.6rem);
}

.font-25 {
    @include font-size(2.5rem);
}

.font-24 {
    @include font-size(2.4rem);
}

.font-22 {
    @include font-size(2.2rem);
}

.font-20 {
    @include font-size(2.0rem);
}

.font-19 {
    @include font-size(1.9rem);
}

.font-18 {
    @include font-size(1.8rem);
}

.font-17 {
    @include font-size(1.7rem);
}

.font-16 {
    @include font-size(1.6rem);
}

.font-15 {
    @include font-size(1.5rem);
}

.font-14 {
    @include font-size(1.4rem);
}

.font-13 {
    @include font-size(1.3rem);
}

.font-12 {
    @include font-size(1.2rem);
}

.font-11 {
    @include font-size(1.1rem);
}

.font-10 {
    @include font-size(1rem);
}

.font-9 {
    @include font-size(.9rem);
}

.text-ls-1 {
    letter-spacing: 1px;
}

.text-ls-2 {
    letter-spacing: 2px;
}

.text-ls-3 {
    letter-spacing: 3px;
}

.text-lh-26 {
    line-height: 26px;
}

/*theme color style*/

.bg-theme-1 {
    background: $theme-color-1;
}

.text-theme-1 {
    color: $theme-color-1;

    a {
        color: $theme-color-1;
    }
}

.border-theme-1 {
    border-color: $theme-color-1;
}

.bg-theme-2 {
    background: $theme-color-2;
}

.text-theme-2 {
    color: $theme-color-2;

    a {
        color: $theme-color-2;
    }
}

.border-theme-2 {
    border-color: $theme-color-2 !important;
}

.border-theme-4 {
    border-color: $theme-color-4 !important;
}


.bg-theme-3 {
    background: $theme-color-3;
}

.text-theme-3 {
    color: $theme-color-3;

    a {
        color: $theme-color-3;
    }
}

.bg-theme-4 {
    background: $theme-color-4;
}

.text-theme-4 {
    color: $theme-color-4;

    a {
        color: $theme-color-4;
    }
}

.bg-theme-5 {
    background: $theme-color-5;
}

.text-theme-5 {
    color: $theme-color-5;

    a {
        color: $theme-color-5;
    }
}

.bg-theme-grey {
    background: $color-grey;
}

.text-theme-grey {
    color: $color-grey;

    a {
        color: $color-grey;
    }
}

.bg-theme-black {
    background: $color-black;
}

.text-theme-black {
    color: $color-black;

    a {
        color: $color-black;
    }
}

.bg-purple-gradient {
    background: linear-gradient(to bottom, #662D91 0%, #990E7F 100%);
}

.bg-blue-gradient {
    background: linear-gradient(to bottom, #223176 0%, #17235f 100%);
}

.bg-grey-gradient {
    background: transparent radial-gradient(closest-side at 50% 50%, #fff 0%, #fff 26%, #D5D1CF 200%) 0% 0% no-repeat padding-box;
    // background: linear-gradient(to bottom, #48535b 70%, #2e3235 100%);
}

.bg-white {
    background: #ffffff;
}

.bg-black {
    background: #000000;
}

.bg-fb {
    background: $color-fb;
}

.bg-tw {
    background: $color-tw;
}

.bg-in {
    background: $color-in;
}

.bg-wa {
    background: $color-wa;
}


@mixin truncate() {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: initial;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
}

@mixin truncate-6() {
    @include truncate();
    -webkit-line-clamp: 6;
}

@mixin truncate-5() {
    @include truncate();
    -webkit-line-clamp: 5;
}

@mixin truncate-4() {
    @include truncate();
    -webkit-line-clamp: 4;
}

@mixin truncate-3() {
    @include truncate();
    -webkit-line-clamp: 3;
}

@mixin truncate-2() {
    @include truncate();
    -webkit-line-clamp: 2;
}

@mixin truncate-1() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin bg-center-cover() {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

@mixin bg-center-contain() {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

@mixin flexible() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.truncate-1 {
    @include truncate-1();
}

.truncate-2 {
    @include truncate-2();
}

.truncate-3 {
    @include truncate-3();
}

.truncate-4 {
    @include truncate-4();
}

.truncate-5 {
    @include truncate-5();
}

.truncate-6 {
    @include truncate-6();
}

.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    @include media-breakpoint-down(sm) {
        padding-right: 15px;
    }

    .scrolling-item {
        display: inline-block;
    }
}

.hover-underline {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.hover-box-shadow {
    .box {
        margin-top: 0px;
        transition: all .3s ease-in-out;
    }

    &:hover {
        .box {
            margin-top: 0px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
            transition: all .3s ease-in-out;
        }
    }
}

.hover-scale {
    img {
        transform: scale(1);
        transition: all .3s ease-in-out;
    }

    &:hover {
        img {
            transform: scale(1.05);
            transition: all .3s ease-in-out;
        }
    }
}

.hover-scale-sm {
    transform: scale(1);
    transition: all .1s ease-in-out;

    &:hover {
        transform: scale(.93);
        transition: all .1s ease-in-out;
    }
}

.video-btn {
    .hover-show {
        opacity: 0;
        transition: all .4s ease-in-out;
    }

    &:hover .hover-show {
        opacity: 1;
        transition: all .4s ease-in-out;
    }
}

.divider {
    border-bottom: 1px solid $color-border;
}


.col-20 {
    flex: 0 0 auto;
    width: 20%;
}

.col-30 {
    flex: 0 0 auto;
    width: 30%;
}

.col-40 {
    flex: 0 0 auto;
    width: 40%;
}

a {
    color: #000000;
    text-decoration: none;

    &:hover,
    &:active {
        color: #000000;
        text-decoration: none;
    }
}

:focus {
    outline: none;
    box-shadow: none;
}

.cursor-pointer {
    cursor: pointer;
}


/*all buttons theme style*/
.disabled {
    cursor: default;
    filter: grayscale(1);
}

button {
    border: 0;
    background: transparent;
    box-shadow: none;

    &:focus {
        outline: none;
    }
}


.solid-btn-theme1 {
    background: $theme-color-1;
    border: 1px solid $theme-color-1;
    color: #ffffff;
    display: inline-block;
    transition: all .3s ease-in-out;

    &:hover {
        color: #ffffff;
        //background: darken($color: $theme-color-1, $amount: 10);
        //background:#ffffff;
        //color: $theme-color-1;
        //border: 1px solid $theme-color-1;
        //transition: all .3s ease-in-out;
    }
}

.solid-btn-theme2 {
    background: $theme-color-2;
    border: 1px solid $theme-color-2;
    color: #ffffff;
    display: inline-block;
    transition: all .3s ease-in-out;

    &:hover {
        color: #ffffff;
        background: darken($color: $theme-color-2, $amount: 10);
    }
}

.solid-btn-fb {
    background: $color-fb;
    border: 1px solid $color-fb;
    color: #ffffff;
    display: inline-block;
    transition: all .3s ease-in-out;

    &:hover {
        background: darken($color: $color-fb, $amount: 8);
        border: 1px solid darken($color: $color-fb, $amount: 8);
        transition: all .3s ease-in-out;
    }
}

.solid-btn-google {
    background: #ffffff;
    border: 1px solid #c3c3c3;
    color: #5E5C5C;
    display: inline-block;
    transition: all .3s ease-in-out;

    &:hover {
        color: #000000;
        background: darken($color: #ffffff, $amount: 8);
        border: 1px solid darken($color: #ffffff, $amount: 8);
        transition: all .3s ease-in-out;
    }
}


.solid-btn-white {
    background: #ffffff;
    color: $theme-color-2;
    border: none;

    &:hover,
    &:active {
        color: $theme-color-2;
        text-decoration: none;
    }
}

.border-btn {
    border: 1px solid #333333;
    color: #333333;
    background: transparent;
    transition: all .3s ease-in-out;

    &:hover,
    &:active {
        background: $theme-color-1;
        border: 1px solid $theme-color-1;
        color: #ffffff;
        transition: all .3s ease-in-out;
    }
}

.border-btn-white {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
    transition: all .3s ease-in-out;

    &:hover,
    &:active {
        border: 1px solid #ffffff;
        color: #ffffff;
        background: transparent;
        transition: all .3s ease-in-out;
    }
}

.border-btn-theme-1 {
    border: 1px solid $theme-color-1;
    color: #000000;
    background: transparent;
    transition: all .3s ease-in-out;

    &:hover,
    &:active {
        background: $theme-color-1;
        border: 1px solid $theme-color-1;
        color: #ffffff;
        transition: all .3s ease-in-out;
    }
}

.border-btn-theme-2 {
    border: 1px solid $theme-color-2;
    //color: #000000;
    background: transparent;
    transition: all .3s ease-in-out;

    &:hover,
    &:active {
        //background: $theme-color-1;
        //border: 1px solid $theme-color-1;
        color: $theme-color-2;
        //transition: all .3s ease-in-out;
    }
}

.btn-padding-sm {
    padding: 5px 18px;
    width: auto;
    text-align: center;
}

.btn-padding {
    padding: 12px 40px;
    width: auto;
    text-align: center;

    @include media-breakpoint-down(sm) {
        padding: 10px 30px;
    }
}

.btn-padding-lg {
    padding: 12px 50px;
    width: auto;
    text-align: center;

    @include media-breakpoint-down(lg) {
        padding: 10px 45px;
    }

    @include media-breakpoint-down(sm) {
        padding: 10px 40px;
    }
}


.close-fixed-img {
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 10px;
    //width: 60px;
}

.close-abs-img {
    position: absolute;
    z-index: 1;
    top: -20px;
    right: -20px;

    //width: 60px;
    @include media-breakpoint-down(sm) {
        top: 10px;
        right: 10px;
    }
}


/*animation*/
@keyframes float {
    0% {
        //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }

    50% {
        //box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }

    100% {
        //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

.ani-float {
    animation: float 6s ease-in-out infinite;
}

/*bootstrap hacker*/
.form-control {
    border-radius: 10px;
    border-color: $theme-color-1;
    height: 55px;
    font-size: 18px;
    padding: 10px 20px;
    font-family: 'Arial';
}

.close {
    opacity: 0.7 !important;

    &:hover {
        opacity: 1 !important;
    }
}

.modal-backdrop.show {
    opacity: 1;
}

.backdrop-bg {
    opacity: .1 !important;
}

.custom-select-lg {
    height: calc(2em + 1rem + 2px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}

/*custom theme - list style bullet*/
ul {
    &.ul-theme1 {
        list-style: none;
        padding-left: 18px;

        li::before {
            content: "\2022";
            color: #AF8244;
            font-weight: bold;
            display: inline-block;
            font-size: 18px;
            line-height: 18px;
            width: 1em;
            margin-left: -1em;
        }
    }

    &.ul-theme-2 {
        list-style: none;
        padding-left: 18px;

        li::before {
            content: "\2022";
            color: $theme-color-2;
            font-weight: bold;
            display: inline-block;
            font-size: 18px;
            line-height: 18px;
            width: 1em;
            margin-left: -1em;
        }
    }

    &.ul-theme-white {
        list-style: none;
        padding-left: 18px;

        li::before {
            content: "\2022";
            color: #ffffff;
            font-weight: bold;
            display: inline-block;
            font-size: 18px;
            line-height: 18px;
            width: 1em;
            margin-left: -1em;
        }
    }
}

/*modal full screen*/
.modalFullscreen {
    padding: 0 !important;

    //background: #ffffff;
    .modal-dialog {
        max-width: 100%;
        margin: 0;

        .modal-content {
            box-shadow: none;
            border: 0;
            border-radius: 0;
            min-height: 100vh;
        }
    }
}

/*modal full width*/
.modalFullwidth {
    padding: 0 !important;

    //background: #ffffff;
    .modal-dialog {
        max-width: 100%;
        margin: 0;

        .modal-content {
            box-shadow: none;
            border: 0;
            border-radius: 0;
        }
    }
}

$header-height: 50px;
$header-height-after: 50px;
$header-height-mobile: 50px;

/*Anchor With Sticky Header*/
:target:before {
    content: "";
    display: block;
    height: $header-height-after;
    margin: -$header-height-after 0 0;

    @include media-breakpoint-down(lg) {
        height: $header-height-mobile;
        margin: -$header-height-mobile 0 0;
    }
}

/*Header*/

.desktop-nav {
    .desktop-bg {
        padding-left: 40px;
        padding-right: 40px;

        .nav-item a {
            font-family: "Calibri";
            font-size: 18px;
            color: #D9D9D9;
            padding-bottom: 10px;

            &:hover {
                color: #FFFFFF;
                border-bottom: 1px solid white;
            }
        }

        &:after {
            content: '';
            background: linear-gradient(to bottom, rgba(255, 255, 255, .0) 50%, #0070C0 50%);
            background-size: 100% 200%;
            background-position: bottom left;
            transition: all .6s ease-out;
            top: -100px;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }
    }

}

.desktop-nav1 {

    .desktop-bg {

        .nav-item a {
            font-family: "Calibri";
            font-size: 18px;
            color: #D9D9D9;
            padding-bottom: 10px;

            &:hover {
                color: #FFFFFF;
                border-bottom: 1px solid white;
            }
        }

        &:after {
            content: '';
            transition: all .6s ease-out;
            top: 0;
        }
    }
}


/*li.nav-item a {
    color:#D9D9D9;
    padding-bottom:10px;
}
li.nav-item a:hover {
    color:#FFFFFF;
    border-bottom:1px solid white;
}*/

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;

    .mobile-nav-bg {
        background-color: #0070C0;
        padding: 2px 20px;

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #0070C0;
            overflow-x: hidden;
            transition: 0.3s;
            padding-top: 30%;
            text-align: center;

            .closebtn {
                position: absolute;
                top: -10px;
                right: 10px;
                font-size: 50px;
                margin-left: 50px;
            }

            .mobile-social {
                position: absolute;
                bottom: 50px;
                left: 0;
                right: 0;
                margin: auto;
            }

            a {
                padding: 20px 20px;
                text-decoration: none;
                font-size: 22px;
                color: #D9D9D9;
                display: block;
                transition: 0.3s;

                &:hover {
                    color: #ffffff;
                }
            }
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    }
}


/*Footer*/
footer {
    position: relative;
    z-index: 50;
    background-color: white;

    .footer-content {
        padding: 0 40px;

        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
        }

        .copyright {
            font-size: 15px;

            @include media-breakpoint-down(sm) {
                white-space: pre;
            }
        }

        .footer-social {
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                margin-bottom: 5px;
            }

            text {
                font-size: 15px;
            }
        }
    }

}

/*PrizesModal*/
@media (max-width: 575.98px) {
    .modal-fullscreen-sm-down .modal-body {
        padding: 25px 20px;
    }
}

.prizesModal {
    .prizes-mb {
        position: absolute;
        bottom: 0;
        right: 0;

        @media (min-width:551px) {
            display: none !important;
        }
    }

    .modal-exit {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 100;
    }

    .modal-content {
        padding: 20px;

        @media (max-width:575.98px) {
            padding: 10px !important;
        }

        .modal-body {
            .prizes-desktop {
                top: 160px;
                right: -120px;
                transform: rotate(15deg);

                @media (max-width:550px) {
                    display: none !important;
                }
            }

            .prizes-divider {
                color: #0070C0;
                height: 2px;
                opacity: 1
            }

            .modal-remind {
                @media (max-width:550px) {
                    max-width: 250px;
                    margin: auto;
                }
            }
        }
    }
}

/*end of PrizesModal*/

/*PromotionModal*/
.banner2Modal,
.banner3Modal,
.banner4Modal,
.banner5Modal,
.banner7Modal {
    .modal-content {
        margin: 60px 20px;

        .promotion-close {
            position: absolute;
            top: -50px;
            right: -10px;
        }

        .modal-body {
            ul {
                line-height: 2;
            }

            .promotion-divider {
                color: #F16F79;
                opacity: 1;
            }
        }
    }
}

/*end of PromotionModal*/

/*Product Benefits Mobile */
.accordion-item:last-of-type .accordion-collapse {
    border-bottom-width: 0px !important;
}

#flush-collapseOne {
    .accordion-body {
        padding: 0;
        border-bottom: 1px solid #7FB7DF;

        .vs {
            position: absolute;
            top: 20px;
            right: -35px;
        }

        .vs-content-left {
            padding: 50px 40px 100px 40px;
            height: 460px;

            .product_mb1 {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .vs-content-right {
            padding: 20px 40px 100px 40px;
            height: 460px;
            position: relative;

            .product_mb2 {
                position: absolute;
                top: 10px;
                right: 0;
            }
        }
    }

    .slick-next {
        right: 10px !important;
    }

    .slick-prev {
        left: 10px !important;
    }
}

#flush-collapseTwo {
    .accordion-body {
        padding: 0px 0px 30px 0px;
        border-bottom: 1px solid #7FB7DF;

        .slick-item {
            padding: 30px 50px 30px 50px;
        }

        .slick-dots {
            bottom: 0px !important;
        }
    }

    .slick-next {
        right: 10px !important;
    }

    .slick-prev {
        left: 10px !important;
    }
}

#flush-collapseThree {
    .accordion-body {
        padding: 25px 0px 60px 0px;
        border-bottom: 1px solid #7FB7DF;

        .slick-item {
            padding: 0 55px;
            text-align: center;
        }

        .slick-dots {
            bottom: -25px !important;
        }
    }

    .slick-prev {
        left: 10px !important;
    }

    .slick-next {
        right: 10px !important;
    }
}

/*end of Product Benefits Mobile */

/*homepage*/
.home-page {
    font-family: 'Calibri';

    .floating-icon {
        position: fixed;
        right: 0;
        bottom: 130px;
        z-index: 200;

        img {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }

    .masthead-section {
        .masthead {
            background: url(../img/masthead/masthead_bg.png), #162e7c;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom right;
            width: 100%;
            min-height: 100vh;
            position: relative;

            @include media-breakpoint-down(md) {
                background-size: 200%;
                background-position: -260px 60px;
            }

            .ttl-img {
                position: absolute;
                top: 20%;
                left: 4%;
                width: 36%;

                @include media-breakpoint-down(md) {
                    width: 80%;
                    top: 15%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .btn-descover-wrap {
            position: absolute;
            bottom: 5vh;
            left: 50%;
            transform: translateX(-50%);

            @include media-breakpoint-down(sm) {
                bottom: 10vh;
            }

            .btn-descover {
                min-width: 300px;
                text-align: center;
            }
        }
    }

    .history-section {
        .products-wrap {
            display: flex;
            width: 100%;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            margin-right: 10vh !important;

            .product-col {
                width: 19%;
                min-width: 210px;

                .product-img {
                    width: 120px;
                }
            }

            .new-product-col {
                width: 24%;
                min-width: 310px;

                @media (max-width:450px) {
                    min-width: 96vw;
                }

                .product-img {
                    width: 190px;
                    position: relative;

                    @media (max-width:450px) {
                        margin: auto;
                    }

                    .spot-circle {
                        position: absolute;
                        z-index: -1;
                        top: -45px;
                        left: 35px;
                        width: 107px;
                        height: 107px;
                        border-radius: 50px;
                        background-color: #43F5FF;

                        @media (max-width:450px) {
                            top: -25px;
                            left: 80px;
                        }
                    }
                }
            }
        }
    }

    .benefit-video-section {
        position: relative;

        .bg-wave-top {
            background: url('../img/benefit/bg_wave.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
            height: 100%;

            @media (min-width:1700px) {
                background-size: cover;
                height: 50%;
            }
        }

        .bg-wave-bottom {
            background: url('../img/video/bg_wave.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom center;
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: -1;
            height: 100%;

            @media (min-width:1700px) {
                background-size: cover;
                height: 70%;
            }
        }

        .benefit-section {
            position: relative;

            .container {
                padding-top: 340px;

                .benefit-slick {
                    top:-150px;
                }

                .vs-wrapper {
                    padding: 100px 0;

                    .vs-row {
                        max-width: 1000px;
                        margin: auto;
                        position: relative;

                        .vs-col {
                            padding: 30px 80px;
                        }

                        .vs-icon {
                            position: absolute;
                            top: 20%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 88px;
                            height: 88px;
                        }

                        .new-icon {
                            position: absolute;
                            top: -22%;
                            right: 30%;
                            width: 160px;
                        }

                        .vs-obj {
                            position: absolute;

                            &.vs-obj-1 {
                                top: -70px;
                                left: -50px;
                                width: 150px;

                                img {
                                    transform: rotate(30deg);
                                }
                            }

                            &.vs-obj-2 {
                                top: -70px;
                                right: -60px;
                                width: 130px;

                                img {
                                    transform: rotate(-30deg);
                                }
                            }

                            &.vs-obj-3 {
                                bottom: -20px;
                                left: -50px;
                                width: 100px;

                                img {
                                    transform: rotate(30deg);
                                }
                            }

                            &.vs-obj-4 {
                                bottom: -40px;
                                right: -60px;
                                width: 130px;

                                img {
                                    transform: rotate(-30deg);
                                }
                            }
                        }

                        @media (min-width:1420px) {
                            .vs-obj {
                                position: absolute;
    
                                &.vs-obj-1 {
                                    top: -80px;
                                    left: -120px;
                                    width: 200px;
    
                                    img {
                                        transform: rotate(30deg);
                                    }
                                }
    
                                &.vs-obj-2 {
                                    top: -70px;
                                    right: -60px;
                                    width: 170px;
    
                                    img {
                                        transform: rotate(-30deg);
                                    }
                                }
    
                                &.vs-obj-3 {
                                    bottom: -20px;
                                    left: -100px;
                                    width: 150px;
    
                                    img {
                                        transform: rotate(30deg);
                                    }
                                }
    
                                &.vs-obj-4 {
                                    bottom: -80px;
                                    right: -80px;
                                    width: 200px;
    
                                    img {
                                        transform: rotate(-30deg);
                                    }
                                }
                            }
                        }
                    }

                }

                .result-wrapper {
                    .test-result-row {
                        max-width: 900px;
                        margin: auto;
                    }
                }
            }
        }

        .benefit-section-mobile {
            .accordion-button {

                &.collapsed {
                    color: $theme-color-2;
                    background: #ffffff;

                    &:after {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                        transform: rotate(270deg);
                    }
                }

                &:not(.collapsed) {
                    color: #ffffff;
                    background: $theme-color-1;


                    &:after {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                        transform: rotate(0deg);
                    }
                }
            }
        }

        .video-section {
            position: relative;
            padding: 100px 0;
            margin-top:-100px;
            @media (max-width:768px) {
                margin:unset;
            }

            @include media-breakpoint-down(sm) {
                padding: 65px 0;
            }

            .bottom-line {
                width: 100px;
                height: 2px;
                margin: 30px 0;

                @include media-breakpoint-down(sm) {
                    margin: 20px auto;
                }
            }
        }
    }

    .play-section {
        position: relative;

        .desc-container {
            position: absolute;
            width: 31%;
            left: 65%;
            top: 20%;
            z-index: 1;

            @include media-breakpoint-down(xl) {
                width: 34%;
                left: 60%;
                top: 5%;
            }

            @include media-breakpoint-down(lg) {
                width: 41%;
                left: 57%;
                top: 0%;
            }

            @include media-breakpoint-down(md) {
                position: initial;
                background: #322372;
                width: 100%;
                padding: 30px;
            }

            .desc-wrap {
                @include media-breakpoint-down(lg) {
                    padding-bottom: 0 !important;
                }
            }
        }


        .btn-padding-lg {
            @include media-breakpoint-down(xl) {
                padding: 12px 40px;
            }
        }

        .bottom-line {
            width: 100px;
            height: 2px;
            margin: 30px 0;
        }

        .btns-wrap {
            display: inline-block;
            width: 100%;

            a {
                @include media-breakpoint-down(md) {
                    width: 100%;
                    float: left;
                    margin-right: 0 !important;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.promotion-section {
    .promotion-slick {
        .slick-item {
            position: relative;

            &.banner1 {
                .btn-shop-now {
                    position: absolute;
                    top: 70%;
                    left: 12%;
                }
            }

            .price {
                position: absolute;
                top: 8%;
                right: 8%;
                width: 28%;
            }
        }

        .slick-dots {
            bottom: 50px;
        }
    }

    .promotion-slick-mobile {
        .slick-item {
            position: relative;

            .btn-promotion {
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translateX(-50%);

                .btn-shop-now {
                    width: 200px;
                    text-align: center;
                }
            }

        }
    }

    .slick-arrow.slick-next:before {
        right: 50px;

        @include media-breakpoint-down(sm) {
            right: 15px;
        }
    }

    .slick-arrow.slick-prev:before {
        left: 50px;

        @include media-breakpoint-down(sm) {
            left: 15px;
        }
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }

    .slick-dots {
        bottom: 20px;
    }
}

.form-section {
    position: relative;
    z-index: 50;

    .sampling-form {
        background-image: linear-gradient(to bottom right, #91D1FF, #1C90E3);
        padding: 50px 25px;

        .sampling-line1 {
            height: 2px !important;
            opacity: 1 !important;
            max-width: 73px;
            margin: auto;
        }

        form {
            label {
                font-size: 18px;
                margin-bottom: 4px;
            }

            .grey-option {
                color: #CFCFCF;
            }

            .find-link {
                @include media-breakpoint-down(sm) {
                    text-align: center !important;
                }
            }

            .form-select {
                background: url("../img/select_arrow.png")no-repeat right 10px center #FFFFFF;
                background-size: 18px;
                -webkit-appearance: none;
                padding: 10px 20px;
                font-size: 18px;
                height: 55px;
                border: none !important;
            }

            .form-check-input {
                width: 15px !important;
                height: 15px !important;
                margin-top: 6px !important;

            }

            .sampling-line2 {
                height: 1px !important;
                opacity: 1 !important;
            }

            .communication-option {
                margin-left: 20px;

                @media (max-width:321px) {
                    margin-left: 3px;
                }
            }

            .invalid-feedback {
                color: red;
                font-size: 15px;
            }

            .btn-sampling {
                background-color: #0070C0;
                border: #0070C0;
                border-radius: 6px;

            }
        }
    }
}



/*redemption page*/
.redeem-page {
    font-family: 'Calibri';

    .redeem-masthead {
        position: relative;
        pointer-events: none;

        .bg-img-desktop {
            background: linear-gradient(to bottom, #5057a7 50%, transparent 50%);

            @include media-breakpoint-down(xl) {
                padding-top: 10%;
            }
        }

        .bg-img-mobile {
            background: linear-gradient(to bottom, #5057a7 50%, transparent 50%);

            @media (max-width:400px) {
                padding-top: 20%;
            }
        }

        .logo-wrapper {
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            max-width: 600px;

            .logo {
                width: 50%;
                max-width: 200px;
                margin: auto;
            }

            .bottom-line {
                width: 55px;
                height: 2px;
                margin: 30px auto;

            }
        }

        .code-wrapper {
            position: absolute;
            bottom: 15%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            @include media-breakpoint-down(md) {
                bottom: 20%;
            }

            .redeem-code {
                width: 50%;
                margin: auto;
                max-width: 300px;
            }
        }
    }

    .redeem-footer {

        @include media-breakpoint-down(sm) {
            margin-top: -50px;
        }

        .btn-redeem {
            max-width: 280px;
            width: 80%;
        }
    }

}

.redeemModal {
    font-family: 'Calibri';

    .modal-body {
        max-width: 300px;
        margin: auto;
    }

    .bottom-line {
        width: 55px;
        height: 2px;
        margin: 30px auto;
    }

    .btn-footer-modal {
        width: 100%;

        button {
            max-width: 200px;
            width: 80%;
        }
    }
}

.termsModal {
    font-family: 'Calibri';
}