.sampling-form {
    background-image: linear-gradient(to bottom right, #91D1FF, #1C90E3);
    padding: 50px 25px;

    .sampling-line1 {
        height: 2px !important;
        opacity: 1 !important;
        max-width: 73px;
        margin: auto;
    }

    form {
        label {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .grey-option {
            color: #CFCFCF;
        }

        .find-link {
            @include media-breakpoint-down(sm) {
                text-align: center !important;
            }
        }

        .form-select {
            background: url("../img/select_arrow.png")no-repeat right 10px center #FFFFFF;
            background-size: 18px;
            -webkit-appearance: none;
            padding: 10px 20px;
            font-size: 18px;
            height: 55px;
            border: none !important;
        }

        .form-check-input {
            width: 15px !important;
            height: 15px !important;
            margin-top: 6px !important;

        }

        .sampling-line2 {
            height: 1px !important;
            opacity: 1 !important;
        }

        .invalid-feedback {
            color: red;
            font-size: 15px;
        }

        .btn-sampling {
            background-color: #0070C0;
            border: #0070C0;
            border-radius: 6px;

        }
    }
}