.sampling-form {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#91D1FF), to(#1C90E3));
  background-image: linear-gradient(to bottom right, #91D1FF, #1C90E3);
  padding: 50px 25px;
}

.sampling-form .sampling-line1 {
  height: 2px !important;
  opacity: 1 !important;
  max-width: 73px;
  margin: auto;
}

.sampling-form form {
  /*.find-link {
            @include media-breakpoint-down(sm) {
                text-align:center!important;
            }
        }*/
}

.sampling-form form label {
  font-size: 18px;
  margin-bottom: 5px;
}

.sampling-form form .grey-option {
  color: #CFCFCF;
}

.sampling-form form .form-select {
  background: url("../img/select_arrow.png") no-repeat right 10px center #FFFFFF;
  background-size: 18px;
  -webkit-appearance: none;
  padding: 10px 20px;
  font-size: 18px;
  height: 55px;
  border: none !important;
}

.sampling-form form .form-check-input {
  width: 15px !important;
  height: 15px !important;
  margin-top: 6px !important;
}

.sampling-form form .sampling-line2 {
  height: 1px !important;
  opacity: 1 !important;
}

.sampling-form form .invalid-feedback {
  color: red;
  font-size: 15px;
}

.sampling-form form .btn-sampling {
  background-color: #0070C0;
  border: #0070C0;
  border-radius: 6px;
}
/*# sourceMappingURL=form.css.map */