<div class="toast-custom slideup show" id="notification_{{id}}"> <!--ClassName:show && JQueary:slideUp-->
    <div class="toast-header">
        <div class="msg-wrapper">
            <span class="icon mr-3">
			        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="105.036px" height="93.286px" viewBox="37.482 43.857 105.036 93.286"
						 enable-background="new 37.482 43.857 105.036 93.286" xml:space="preserve">
					<g id="Layer_1_1_">
						<path d="M37.482,107.923V49.387c0-3.041,2.488-5.53,5.53-5.53h93.976c3.042,0,5.53,2.489,5.53,5.53v58.536
							c0,3.042-2.488,5.53-5.53,5.53H81.982l-0.876,21.693c-0.073,1.814-2.276,2.668-3.552,1.375l-22.76-23.068H43.012
							C39.971,113.453,37.482,110.965,37.482,107.923z M105.632,78.084c0,4.256,3.45,7.707,7.707,7.707c4.256,0,7.707-3.451,7.707-7.707
							c0-4.257-3.451-7.707-7.707-7.707C109.082,70.377,105.632,73.827,105.632,78.084z M82.293,78.084c0,4.256,3.45,7.707,7.707,7.707
							s7.707-3.451,7.707-7.707c0-4.257-3.45-7.707-7.707-7.707S82.293,73.827,82.293,78.084z M58.955,78.084
							c0,4.256,3.45,7.707,7.707,7.707s7.707-3.451,7.707-7.707c0-4.257-3.451-7.707-7.707-7.707S58.955,73.827,58.955,78.084z"/>
					</g>
					<g id="Artboard">
					</g>
					</svg>
           </span>
            <span class="msg mr-3">{{{message}}}</span>
        </div>
        <button type="button" class="text-white close" onclick="removeNotification(document.getElementById('notification_{{id}}'))">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>