<template>
	<div>
	    <div class="game-section">
	        <div class="header">
	            <div class="wrap flex-center">
	                <div class="time-wrap me-5 flex-center">
	                    <div class="icon-time me-4">
	                        <img src="~assets/img/game/icon_time.png" alt="icon_time" height="50px">
	                    </div>
	                    <div class="timer">
	                        <img src="~assets/img/game/time_bg.png" alt="time_bg">
	                        <h4 class="txt-timer font-bubble text-white"><span id="score_time">00:00</span></h4>
	                    </div>
	                </div>
	                <div class="time-wrap flex-center">
	                    <h4 class="ttl-score font-bubble text-white me-3">SCORE :</h4>
	                    <div class="score">
	                        <img src="~assets/img/game/time_bg.png" alt="time_bg">
	                        <h4 class="txt-score font-bubble text-white"><span id="score_point">150</span></h4>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="count-wrapper">
	            <div class="count count-3">
	                <img src="~assets/img/game/count-3.png" alt="count-3" height="50px">
	            </div>
	            <div class="count count-2">
	                <img src="~assets/img/game/count-2.png" alt="count-2" height="50px">
	            </div>
	            <div class="count count-1">
	                <img src="~assets/img/game/count-1.png" alt="count-1" height="50px">
	            </div>
	        </div>
	        <div id="scene" class="bg">
	            <div id="items">
	                <div class="items">
	                    <div class="item" data-point="1" speed="5"></div>
	                </div>
	            </div>

	            <div id="character">
	                <div id="walter-in-game" class="walter walter-1"></div>
	            </div> <!--walter-1 | walter-2 | walter-3 | walter-4 -->

	        </div>
	        <!-- <div class="bg"></div> -->
	        <div class="footer"></div>
	        <div class="overlay"></div>
	        <div class="box times-up-box four-stars-box d-none">
	            <div class="pt-lg-5 pt-0">
	                <div class="box-bg">
	                    <div class="ttl">
	                        <img src="~assets/img/game/ttl_timesup.png" alt="ttl_timesup" class="img-fluid">
	                    </div>
	                    <div class="box-container four-stars-border">
	                        <div class="wrap text-center">
	                            <h5 class="font-black text-theme-1">Your Score</h5>
	                            <div class="score">
	                                <img src="~assets/img/game/score_bg.png" alt="score_bg">
	                                <h4 class="txt-score font-black text-white"><span id="final_score">150</span> Points</h4>
	                            </div>
	                        </div>
	                    </div>
	                    <button id="btn-replay" class="btn-cloud btn-replay hover-scale-sm">
	                        <img src="~assets/img/game/btn_replay.png" alt="btn_replay.png" class="img-fluid">
	                    </button>
	                    <button id="btn-submit" class="btn-cloud btn-submit hover-scale-sm">
	                        <img src="~assets/img/game/btn_submit.png" alt="btn_submit.png" class="img-fluid">
	                    </button>
	                </div>
	            </div>
	        </div>
	        <div class="box confirm-box four-stars-box d-none">
	            <div class="pt-lg-5 pt-0">
	                <div class="box-bg">
	                    <div class="box-container four-stars-border">
	                        <div class="wrap text-center">
	                            <h5 class="font-black text-theme-1 mb-4">Confirm Submit?</h5>
	                            <p class="font-20"><span class="font-black">You won’t be able to play again</span> after submitting the score.</p>
	                        </div>
	                    </div>
	                    <button id="btn-replay" class="btn-cloud btn-replay hover-scale-sm">
	                        <img src="~assets/img/game/btn_replay.png" alt="btn_replay.png" class="img-fluid">
	                    </button>
	                    <button id="btn-confirm" class="btn-cloud btn-confirm hover-scale-sm">
	                        <img src="~assets/img/game/btn_confirm.png" alt="btn_confirm.png" class="img-fluid">
	                    </button>
	                </div>
	            </div>
	        </div>
	        <div class="box thankyou-box four-stars-box d-none">
	            <div class="pt-lg-5 pt-0">
	                <div class="box-bg">
	                    <div class="box-container four-stars-border">
	                        <div class="wrap text-center">
	                            <h5 class="font-black text-theme-1 mb-4">Thank you for your participation</h5>
	                            <p class="font-20"><span class="font-black">Prize collection detail has been sent to your email</span></p>
	                        </div>
	                    </div>
	                    <a target="_blank" href="https://www.lazada.sg/shop/laneige1/?spm=a2o42.innity.microsite.game" id="btn-shop-now" class="btn-cloud btn-shop-now hover-scale-sm">
	                        <img src="~assets/img/game/btn_shop_now.png" alt="btn_shop_now.png" class="img-fluid">
	                    </a>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="dreaming">
	        <div class="dream-on-top"></div>
	        <div class="dream-dot dream-dot1">
	            <img src="~assets/img/game/dream_dot1.png" alt="dream_dot1" class="img-fluid">
	        </div>
	        <div class="dream-dot dream-dot2">
	            <img src="~assets/img/game/dream_dot2.png" alt="dream_dot2" class="img-fluid">
	        </div>
	        <div class="dream-dot dream-dot3">
	            <img src="~assets/img/game/dream_dot3.png" alt="dream_dot3" class="img-fluid">
	        </div>
	    </div>
		<div class="intro-section">
	        <div class="box initial-box pb-5">
	            <div class="dream-box">
	                <img src="~assets/img/game/dream_box_wake_up.png" alt="dream_box_wake_up.png" class="img-fluid">
	                <div class="walter ani-float">
	                    <img src="~assets/img/game/walter.png" alt="walter.png" class="img-fluid">
	                </div>
	            </div>
	            <button id="btn-howtoplay" class="btn-cloud btn-how hover-scale-sm">
	                <img src="~assets/img/game/btn_how_to_play.png" alt="btn_how_to_play.png" class="img-fluid">
	            </button>
	            <button id="btn-play" class="btn-cloud btn-play hover-scale-sm">
	                <img src="~assets/img/game/btn_play_now.png" alt="btn_play_now.png" class="img-fluid">
	            </button>
	        </div>

	        <div class="box introduction-box two-stars-box d-none">
	            <div class="pt-lg-5 pt-0">
	                <div class="box-bg">
	                    <div class="ttl">
	                        <img src="~assets/img/game/ttl_introduction.png" alt="ttl_introduction" class="img-fluid">
	                    </div>
	                    <div class="box-container two-stars-border">
	                        <button class="btn-box-close hover-scale-sm">
	                            <img src="~assets/img/game/btn_close.png" alt="btn_close.png" class="img-fluid">
	                        </button>
	                        <div class="wrap text-center">
	                            <h5 class="font-black text-theme-1 mb-3 mb-lg-5">Play to Win</h5>
	                            <p class="font-20 "> <span class="font-black">Complete the Sleep Challenge and receive a sweet treat for your beauty sleep!</span></p>
	                        </div>
	                    </div>
	                    <button id="btn-join" class="btn-cloud btn-join hover-scale-sm">
	                        <img src="~assets/img/game/btn_join_now.png" alt="btn_join_now.png" class="img-fluid">
	                    </button>
	                </div>
	            </div>
	        </div>
	        <div class="box form-box two-stars-box d-none">
	            <div class="pt-lg-5 pt-0">
	                <div class="box-bg">
	                    <form id="form1">
	                        <div class="ttl">
	                            <img src="~assets/img/game/ttl_participant_info.png" alt="ttl_participant_info" class="img-fluid">
	                        </div>
	                        <div class="box-container two-stars-border">
	                            <button class="btn-box-close hover-scale-sm">
	                                <img src="~assets/img/game/btn_close.png" alt="btn_close.png" class="img-fluid">
	                            </button>
	                            <div class="wrap">
	                                <div class="mb-4">
	                                    <label for="name" class="form-label font-20 font-black">Name</label>
	                                    <input type="text" name="name" class="form-control" id="name" aria-describedby="name" required>
	                                </div>
	                                <div class="row">
	                                    <div class="col-6">
	                                        <div class="mb-4">
	                                            <label for="contact" class="form-label font-20 font-black">Contact Number</label>
	                                            <input type="tel" required pattern="[0-9]{4}-[0-9]{4}" maxlength="9" name="mobile" class="form-control" id="contact" aria-describedby="contact" placeholder="xxxx-xxxx" required>
	                                        </div>
	                                    </div>
	                                    <div class="col-6">
	                                        <div class="mb-4">
	                                            <label for="email" class="form-label font-20 font-black">Email</label>
	                                            <input type="email" name="email" class="form-control" id="email" aria-describedby="email" placeholder="xxx@email.com" required>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="mt-4">
	                                    <p class="font-black font-14">* Personal Data Protection</p>
	                                    <div class="mb-3 form-check font-14">
	                                        <input type="checkbox" name="agree" value="1" class="form-check-input" id="policyCheckBox" required>
	                                        <label class="form-check-label" for="policyCheckBox">I acknowledge and consent to the collection, use and disclosure of my personal data by AMOREPACIFIC SINGAPORE PTE LTD for the purposes set out in the Policy.</label>
	                                    </div>
	                                </div>
	                                <div class="mt-4" id="err_msg_wrapper">
	                                    <p class="font-black font-14"><span id="err_msg"></span></p>
	                                </div>
	                            </div>
	                        </div>
	                        <button id="btn-start-game" class="btn-cloud btn-start-game hover-scale-sm">
	                            <img src="~assets/img/game/btn_start_game.png" alt="btn_start_game.png" class="img-fluid">
	                        </button>
	                    </form>
	                </div>
	            </div>
	        </div>

	        <div class="box howtoplay-box step1-box two-stars-box d-none">
	            <div class="pt-lg-5 pt-0">
	                <div class="box-bg">
	                    <div class="ttl">
	                        <img src="~assets/img/game/ttl_howtoplay.png" alt="ttl_howtoplay" class="img-fluid">
	                    </div>
	                    <div class="box-container two-stars-border">
	                        <button class="btn-box-close hover-scale-sm">
	                            <img src="~assets/img/game/btn_close.png" alt="btn_close.png" class="img-fluid">
	                        </button>
	                        <div class="wrap text-center">
	                            <h5 class="font-black text-theme-1 mb-3 mb-lg-5">Step 1</h5>
	                            <p class="font-20 mb-4">Move Walter left and right using <span class="font-700">mouse or left/right arrow on keyboards</span> to collect dropped item.</p>
	                            <div class="step1-img">
	                                <img src="~assets/img/game/how_step1.png" alt="how_step1" class="img-fluid">
	                            </div>
	                        </div>
	                    </div>
	                    <button id="btn-next-step1" class="btn-cloud btn-next-step hover-scale-sm">
	                        <img src="~assets/img/game/btn_next_step.png" alt="btn_next_step.png" class="img-fluid">
	                    </button>
	                </div>
	            </div>
	        </div>

	        <div class="box howtoplay-box step2-box two-stars-box d-none">
	            <div class="pt-lg-5 pt-0">
	                <div class="box-bg">
	                    <div class="ttl">
	                        <img src="~assets/img/game/ttl_howtoplay.png" alt="ttl_howtoplay" class="img-fluid">
	                    </div>
	                    <div class="box-container two-stars-border">
	                        <button class="btn-box-close hover-scale-sm">
	                            <img src="~assets/img/game/btn_close.png" alt="btn_close.png" class="img-fluid">
	                        </button>
	                        <div class="wrap text-center">
	                            <div class="desc mb-4">
	                                <h5 class="font-black text-theme-1 mb-3 mb-lg-5">Step 2</h5>
	                                <p class="font-20">Avoid these <span class="font-700">negative element objects, e.g. late night, use of electronics, consumption of alcohol, fast food</span> that reduces the quality of Walter's sleep</p>
	                            </div>
	                            <div class="step2-img">
	                                <img src="~assets/img/game/how_step2.png" alt="how_step1" class="img-fluid">
	                            </div>
	                        </div>
	                    </div>
	                    <button id="btn-next-step2" class="btn-cloud btn-next-step hover-scale-sm">
	                        <img src="~assets/img/game/btn_next_step.png" alt="btn_next_step.png" class="img-fluid">
	                    </button>
	                </div>
	            </div>
	        </div>

	        <div class="box howtoplay-box step3-box two-stars-box d-none">
	            <div class="pt-lg-5 pt-0">
	                <div class="box-bg">
	                    <div class="ttl">
	                        <img src="~assets/img/game/ttl_howtoplay.png" alt="ttl_howtoplay" class="img-fluid">
	                    </div>
	                    <div class="box-container two-stars-border">
	                        <button class="btn-box-close hover-scale-sm">
	                            <img src="~assets/img/game/btn_close.png" alt="btn_close.png" class="img-fluid">
	                        </button>
	                        <div class="wrap text-center">
	                            <h5 class="font-black text-theme-1 mb-3 mb-lg-5">Step 3</h5>
	                            <p class="font-20 mb-4 font-black"><span class="font-700">Collect Water Sleeping Mask Ex</span> to earn points and help Walter recover from a bad night's sleep</p>
	                            <div class="step3-img">
	                                <img src="~assets/img/game/how_step3.png" alt="how_step3" class="img-fluid">
	                            </div>
	                        </div>
	                    </div>
	                    <button id="btn-next" class="btn-cloud btn-next hover-scale-sm">
	                        <img src="~assets/img/game/btn_next.png" alt="btn_next.png" class="img-fluid">
	                    </button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
export default {
    head() {
      return {
        meta: [
          { hid: 'description', name: 'description', content: 'Beyond hydration, wake up to vibrant skin with probiotic complex.' },
      	  { property: 'og:title', content:  'Laneige Water Sleeping Mask EX | All New Formula' },
      	  { property: 'og:description', content: 'Beyond hydration, wake up to vibrant skin with probiotic complex.' },
      	  { property: 'og:image', content: process.env.BASE_URL + 'dist/img/meta.jpg' }
        ],
        script: [
    		{ src: "js/DropAndCatch.js", type: "text/javascript", body: true },
    		{ src: "js/JqForm.js", type: "text/javascript", body: true },
      		{ src: "js/game.js", type: "text/javascript", body: true }
        ]
      }
    },
  	layout: 'game'
}
</script>