<template>
  <div class="home-page">
    <div class="mobile-md-only bg-theme-2 py-4 text-center" style="position:fixed;bottom:0;left:0;width:100%;z-index:10;"><a href="<?php print $base_url ?>#promo"><text class="font-18 text-white">Exclusive Playmade
Collaboration!</text></a></div>
        <div class="floating-icon"><a href="#promo"><img src="~assets/img/float_icon.png" width="160px"></a></div>
        <div class="masthead-section">
            <div class="masthead">
                <div class="ttl-img">
                    <img src="~assets/img/masthead/masthead_ttl.png" alt="masthead_ttl" class="img-fluid">
                </div>
            </div>
            <div class="btn-descover-wrap">
                <div class="btn-descover">
                    <a href="#intro" class="font-18 border-btn-white rounded py-4 btn-padding-lg">
                        Discover More
                    </a>
                </div>
                <div class="text-center mt-5 animated infinite fadeInDown slow" >
                    <img src="~assets/img/masthead/arrow.png" alt="arrow" width="22px">
                </div>
            </div>
        </div>

        <div class="history-section" id="intro">
            <div class="bg-blue-gradient">
                <div class="container-xxl py-5">
                    <div class="ttl-wrap mb-5">
                        <p class="text-center font-24 text-white">Original sleeping pack, global bestseller for 19 years</p>
                        <p class="text-center font-20 text-white m-0">Evolution into 5th-generation</p>
                        <h4 class="text-center text-white text-uppercase font-calibri-bold">Water Sleeping Mask EX</h4>
                    </div>
                    <div class="products-wrap px-5">
                        <div class="product-col product-col-1 p-5 ">
                            <p class="product-name font-22 text-white">Water<br>Sleeping Pack</p>
                            <div class="border-bottom border-white mb-3"></div>
                            <h4 class="text-white font-calibri-bold">2002</h4>
                            <div class="product-img">
                                <img src="~assets/img/products/2002.png" alt="2002" class="img-fluid">
                            </div>
                            <p class="font-16 text-white">Released “sleeping pack”, the product of newness and innovation for use overnight</p>
                        </div>
                        <div class="product-col product-col-2 p-5">
                            <p class="font-22 text-white">Water Sleeping<br>Pack Plus</p>
                            <div class="border-bottom border-white mb-3"></div>
                            <h4 class="text-white font-calibri-bold">2005</h4>
                            <div class="product-img">
                                <img src="~assets/img/products/2005.png" alt="2005" class="img-fluid">
                            </div>
                            <p class="font-16 text-white">Upgraded moisturizing effect + skin vitality</p>
                        </div>
                        <div class="product-col product-col-3 p-5">
                            <p class="product-name font-22 text-white">Water Sleeping<br>Pack_EX</p>
                            <div class="border-bottom border-white mb-3"></div>
                            <h4 class="text-white font-calibri-bold">2009</h4>
                            <div class="product-img">
                                <img src="~assets/img/products/2009.png" alt="2009" class="img-fluid">
                            </div>
                            <p class="font-16 text-white">Upgraded moisturizing + brightening + sound sleep (applied neurological concept)</p>
                        </div>
                        <div class="product-col product-col-4 p-5">
                            <p class="product-name font-22 text-white">Water<br>Sleeping Mask</p>
                            <div class="border-bottom border-white mb-3"></div>
                            <h4 class="text-white font-calibri-bold">2015</h4>
                            <div class="product-img">
                                <img src="~assets/img/products/2015.png" alt="2015" class="img-fluid">
                            </div>
                            <p class="font-16 text-white">Upgraded moisturizing “Moisture Wrap” + skin purification “Sleep-tox” + Sleepscent</p>
                        </div>
                        <div class="new-product-col bg-white rounded-2 p-5">
                            <p class="product-name font-22 text-theme-2 font-calibri-bold d-none d-sm-block">Water<br>Sleeping Mask EX</p>
                            <p class="product-name font-22 text-theme-2 font-calibri-bold text-center d-sm-none">Water Sleeping Mask EX</p>
                            <div class="border-bottom border-theme-2 mb-3"></div>
                            <h4 class="font-calibri-bold text-center text-sm-start">2021</h4>
                            <div class="product-img">
                                <img src="~assets/img/products/2021.png" alt="2021" class="img-fluid">
                                <div class="spot-circle"></div>
                            </div>
                            <p class="font-16 text-center text-sm-start">2021 Water Sleeping Mask EX<br>Upgraded Probiotics Complex + Sleeping Microbiome<small class="align-top">TM</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="benefit-video-section">
            <div class="bg-wave-top"></div>
            <div class="bg-wave-bottom"></div>
            <div class="benefit-section d-none d-lg-block">
                <div class="container">
                    <div class="slick benefit-slick" id="product">
                      <slick :options="slickOptions">
                        <div class="slick-item vs-wrapper">
                            <div class="row vs-row shadow">
                               <div class="col-6 vs-col bg-white">
                                   <h4 class="font-calibri-bold mb-5">Water Sleeping Mask</h4>
                                   <ul class="font-16 ul-theme-2">
                                       <li class="mb-4">Moisture Wrap<small class="align-top">TM</small> technology helps skin retain moisture throughout the night</li>
                                       <li class="mb-4">Sleep-Tox<small class="align-top">TM</small>  purifies skin keeping it in optimum condition</li>
                                       <li class="mb-4">Light gel with slower skin absorption and a volatile feel</li>
                                       <li class="mb-4">Sleepscent<small class="align-top">TM</small>  helps you relax during your sleep</li>
                                   </ul>
                               </div>
                               <div class="col-6 vs-col bg-theme-2 text-white">
                                   <h4 class="font-calibri-bold mb-5">Water Sleeping Mask EX</h4>
                                   <ul class="font-16">
                                       <li class="mb-4">Sleeping Micro Biome<small class="align-top">TM</small> Technology restores healthy skin balance</li>
                                       <li class="mb-4">Probiotics Complex strengthens the skin defense and boosts the brightness and clarity of tired skin</li>
                                       <li class="mb-4">Faster absorption and long-lasting moisture</li>
                                       <li class="mb-4">7-free & Hypoallergenic formula</li>
                                   </ul>
                               </div>
                               <div class="vs-icon bg-white rounded-circle shadow">
                                    <h3 class="font-calibri-bold text-theme-2 m-0 h-100 flex-center">VS</h3>
                               </div>
                               <div class="new-icon">
                                    <img src="~assets/img/benefit/label_new.png" alt="label_new" class="img-fluid">
                               </div>
                               <div class="vs-obj vs-obj-1 animated" data-animation-in="fadeInLeft" data-delay-in="0.3">
                                   <img src="~assets/img/benefit/photo1.png" alt="photo1" class="img-fluid">
                               </div>
                               <div class="vs-obj vs-obj-2 animated" data-animation-in="fadeInRight" data-delay-in="0.3">
                                   <img src="~assets/img/products/2021.png" alt="2021" class="img-fluid">
                               </div>
                               <div class="vs-obj vs-obj-3 animated" data-animation-in="fadeInLeft" data-delay-in="0.3">
                                   <img src="~assets/img/products/2015.png" alt="2015" class="img-fluid">
                               </div>
                               <div class="vs-obj vs-obj-4 animated" data-animation-in="fadeInRight" data-delay-in="0.3">
                                   <img src="~assets/img/benefit/photo2.png" alt="photo2" class="img-fluid">
                               </div>
                            </div>
                        </div>

                        <div class="slick-item benefit-wrapper">
                            <div class="px-5">
                                <div class="ttl-wrap text-center mt-4">
                                    <h4 class="font-calibri-bold mb-4">Benefits of Water Sleeping Mask EX</h4>
                                    <p class="font-20 px-5 mb-4">LANEIGE Sleeping Mask <span class="font-calibri-bold text-theme-2">recuperates the lost balance of skin microbiome and condition overnight</span> with Sleeping Micro Biome<small class="align-top">TM</small> and thereby helps to rediscover the inherent <span class="font-calibri-bold text-theme-2">defensive ability of healthy skin</span></p>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-3 d-flex">
                                        <div class="shadow rounded bg-white p-5 animated" data-animation-in="fadeInRight" >
                                            <p class="font-20 font-calibri-bold text-theme-2">Sleeping Micro Biome<small class="align-top">TM</small> to restore a healthy skin balance</p>
                                            <div class="border-bottom border-theme-2 mb-3"></div>
                                            <p class="font-16">A technology to rebuild the skin balance that had been damaged during the day due to external conditions, achieving firm and smooth skin the next morning.</p>
                                        </div>
                                    </div>
                                    <div class="col-3 d-flex">
                                        <div class="shadow rounded bg-white p-5 animated" data-animation-in="fadeInRight" data-delay-in="0.1">
                                            <p class="font-20 font-calibri-bold text-theme-2">Probiotics Complex</p>
                                            <div class="border-bottom border-theme-2 mb-3"></div>
                                            <p class="font-16">An ingredient derived from 23.8 billion probiotics* that strengthens the skin defense, boosts the brightness and clarity of tired skin.</p>
                                        </div>
                                    </div>
                                    <div class="col-3 d-flex">
                                        <div class="shadow rounded bg-white p-5 animated" data-animation-in="fadeInRight" data-delay-in="0.2">
                                            <p class="font-20 font-calibri-bold text-theme-2">Squalane to increase moisture level</p>
                                            <div class="border-bottom border-theme-2 mb-3"></div>
                                            <p class="font-16">Contains excellent moisturizer, squalane, extracted from sugar cane. Provides intensive overnight hydrating care without feeling heavy and sticky on the skin.</p>
                                        </div>
                                    </div>
                                    <div class="col-3 d-flex">
                                        <div class="shadow rounded bg-white p-5 animated" data-animation-in="fadeInRight" data-delay-in="0.3">
                                            <p class="font-20 font-calibri-bold text-theme-2">7-free & Hypoallergenic Formula</p>
                                            <div class="border-bottom border-theme-2 mb-3"></div>
                                            <p class="font-16">The comforting and gentle Sleepscent<small class="align-top">TM</small> and hypoallergenic formula free of oil, PEG and pigments provide a skin relaxing effect while you sleep.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center animated" data-animation-in="fadeInUp" data-delay-in="0.8">
                                    <a href="https://www.laneige.com/sg/en/product/water-sleeping-mask-ex.html" target="_blank" class="font-18 solid-btn-theme2 rounded btn-padding-lg">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="slick-item result-wrapper">
                            <div class="px-5">
                                <div class="ttl-wrap text-center">
                                    <h4 class="font-calibri-bold pt-4">Clinical Results</h4>
                                    <p class="font-20 m-0">“Your skin can have a sound sleep even when you can’t”</p>
                                    <p class="font-24 font-calibri-bold text-theme-2">Product satisfaction by customers who sleep less than an average of 6 hours</p>
                                    <h5 class="font-calibri-bold text-theme-2">After 1 week of use</h5>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-20 d-flex">
                                        <div class="shadow rounded bg-white p-4 animated" data-animation-in="fadeInRight" >
                                            <p class="font-20 text-center">The skin feels<br>more hydrated</p>
                                            <img src="~assets/img/benefit/data1.png" alt="data1" width="70%" class="img-center mb-3">
                                        </div>
                                    </div>
                                    <div class="col-20 d-flex">
                                        <div class="shadow rounded bg-white p-4 animated" data-animation-in="fadeInRight" data-delay-in="0.1">
                                            <p class="font-20 text-center">The skin feels<br>smoother</p>
                                            <img src="~assets/img/benefit/data2.png" alt="data2" width="70%" class="img-center mb-3">
                                        </div>
                                    </div>
                                    <div class="col-20 d-flex">
                                        <div class="shadow rounded bg-white p-4 animated" data-animation-in="fadeInRight" data-delay-in="0.2">
                                            <p class="font-20 text-center">Makeup sits better<br>on the skin</p>
                                            <img src="~assets/img/benefit/data3.png" alt="data3" width="70%" class="img-center mb-3">
                                        </div>
                                    </div>
                                    <div class="col-20 d-flex">
                                        <div class="shadow rounded bg-white p-4 animated" data-animation-in="fadeInRight" data-delay-in="0.3">
                                            <p class="font-20 text-center">Skin looks<br>well-rested</p>
                                            <img src="~assets/img/benefit/data4.png" alt="data4" width="70%" class="img-center mb-3">
                                        </div>
                                    </div>
                                    <div class="col-20 d-flex">
                                        <div class="shadow rounded bg-white p-4 animated" data-animation-in="fadeInRight" data-delay-in="0.4">
                                            <p class="font-20 text-center">Skin clarity seems<br>to have improved</p>
                                            <img src="~assets/img/benefit/data5.png" alt="data5" width="70%" class="img-center mb-3">
                                        </div>
                                    </div>
                                </div>
                                <h5 class="font-calibri-bold text-theme-2 text-center">Test Result</h5>
                                <div class="row mb-3 text-center test-result-row shadow rounded bg-white py-3 animated" data-animation-in="fadeInUp" data-delay-in="0.3">
                                    <div class="col-30 border-end border-theme-2">
                                        <p class="font-20 font-calibri-bold text-theme-2">Period</p>
                                        <p class="font-16">June 02 2020 - July 02 2020</p>
                                    </div>
                                    <div class="col-40 border-end border-theme-2">
                                        <p class="font-20 font-calibri-bold text-theme-2">Test Subject</p>
                                        <p class="font-16">Women aged 20-39 who sleep less than an average of 6 hours a day (n=34) </p>
                                    </div>
                                    <div class="col-30">
                                        <p class="font-20 font-calibri-bold text-theme-2">Test Agency</p>
                                        <p class="font-16">P&K Skin Research Center</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                      </slick>
                    </div>
                </div>
            </div>
            <div class="benefit-section-mobile d-lg-none" id="product-mb">

                <div class="accordion accordion-flush" id="accordionBenefitMobile">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button font-18 border-top-0 border-bottom border-theme-4 p-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                            Water Sleeping Mask Comparison
                        </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionBenefitMobile">
                            <div class="accordion-body">
                                <div class="slick vs-slick-mobile">
                                    <div class="slick-item position-relative">
                                        <img src="~assets/img/products/vs.png" width="70px" class="vs">
                                        <div class="vs-content-left bg-white">
                                            <img src="~assets/img/products/product_mb1.png" width="120px" class="product_mb1">
                                            <h4 class="font-calibri-bold mb-5">Water Sleeping Mask</h4>
                                            <ul class="font-16 ul-theme-2">
                                                <li class="mb-4">Moisture Wrap<small class="align-top">TM</small> technology helps skin retain moisture throughout the night</li>
                                                <li class="mb-4">Sleep-Tox<small class="align-top">TM</small>  purifies skin keeping it in optimum condition</li>
                                                <li class="mb-4">Light gel with slower skin absorption and a volatile feel</li>
                                                <li class="mb-4">Sleepscent<small class="align-top">TM</small>  helps you relax during your sleep</li>
                                            </ul>
                                        </div>
                                        <!-- <div class="vs-icon bg-white rounded-circle shadow">
                                            <h3 class="font-calibri-bold text-theme-2 m-0 h-100 flex-center">VS</h3>
                                        </div> -->
                                    </div>
                                    <div class="slick-item bg-theme-2 ">
                                        <div class="vs-content-right text-white">
                                            <img src="~assets/img/products/new.png" width="110px">
                                            <img src="~assets/img/products/product_mb2.png" width="100px" class="product_mb2">
                                            <h4 class="font-calibri-bold mb-5">Water Sleeping <br>Mask EX</h4>
                                            <ul class="font-16">
                                                <li class="mb-4">Sleeping Micro Biome<small class="align-top">TM</small> Technology restores healthy skin balance</li>
                                                <li class="mb-4">Probiotics Complex strengthens the skin defense and boosts the brightness and clarity of tired skin</li>
                                                <li class="mb-4">Faster absorption and long-lasting moisture</li>
                                                <li class="mb-4">7-free & Hypoallergenic formula</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed font-18 border-top-0 border-bottom border-theme-4 p-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Benefits of Water Sleeping Mask EX
                        </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionBenefitMobile">
                            <div class="accordion-body">
                                <div class="slick benefit-slick-mobile">
                                    <div class="slick-item text-center">
                                        <p class="font-20 mb-4">LANEIGE Sleeping Mask<br> <span class="font-calibri-bold text-theme-2">recuperates the lost balance of skin microbiome and condition overnight</span> with Sleeping Micro Biome<small class="align-top">TM</small> and thereby helps to rediscover the inherent <span class="font-calibri-bold text-theme-2">defensive ability of healthy skin</span></p>
                                    </div>
                                    <div class="slick-item text-center">
                                        <p class="font-20 font-calibri-bold text-theme-2">Sleeping Micro Biome<small class="align-top">TM</small> to restore a healthy skin balance</p>
                                        <div class="border-bottom border-theme-2 mb-3"></div>
                                        <p class="font-16">A technology to rebuild the skin balance that had been damaged during the day due to external conditions, achieving firm and smooth skin the next morning.</p>
                                    </div>
                                    <div class="slick-item text-center">
                                        <p class="font-20 font-calibri-bold text-theme-2">Probiotics Complex</p>
                                        <div class="border-bottom border-theme-2 mb-3"></div>
                                        <p class="font-16">An ingredient derived from 23.8 billion probiotics* that strengthens the skin defense, boosts the brightness and clarity of tired skin.</p>
                                    </div>
                                    <div class="slick-item text-center">
                                        <p class="font-20 font-calibri-bold text-theme-2">Squalane to increase moisture level</p>
                                        <div class="border-bottom border-theme-2 mb-3"></div>
                                        <p class="font-16">Contains excellent moisturizer, squalane, extracted from sugar cane. Provides intensive overnight hydrating care without feeling heavy and sticky on the skin.</p>
                                    </div>
                                    <div class="slick-item text-center">
                                        <p class="font-20 font-calibri-bold text-theme-2">7-free & Hypoallergenic Formula</p>
                                        <div class="border-bottom border-theme-2 mb-3"></div>
                                        <p class="font-16">The comforting and gentle Sleepscent<small class="align-top">TM</small> and hypoallergenic formula free of oil, PEG and pigments provide a skin relaxing effect while you sleep.</p>
                                    </div>
                                    <div class="slick-item text-center">
                                        <p class="font-20 font-calibri-bold text-theme-2">Want to know more about Water Sleeping Mask EX?</p>
                                        <div class="border-bottom border-theme-2 mb-3"></div>
                                        <p class="font-16">Click on "Learn More" to find out.</p>
                                        <a href="https://www.laneige.com/sg/en/product/water-sleeping-mask-ex.html" target="_blank" class="font-18 solid-btn-theme2 rounded btn-padding-lg" tabindex="0">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed font-18 border-top-0 border-bottom border-theme-4 p-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Clinical Results
                        </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionBenefitMobile">
                            <div class="accordion-body">
                                <div class="slick result-slick-mobile">
                                    <div class="slick-item text-center">
                                        <p class="font-18 mb-4">“Your skin can have a sound sleep even when you can’t”</p>
                                        <p class="font-20 font-calibri-bold text-theme-2 mb-4">Product satisfaction by customers who sleep less than an average of 6 hours</p>
                                        <div class="py-3 mb-4">
                                            <a class="bt-result font-18 solid-btn-theme2 rounded btn-padding-lg" tabindex="0">
                                            Check out the result
                                            </a>
                                        </div>
                                    </div>
                                    <div class="slick-item">
                                        <h5 class="font-calibri-bold text-theme-2">After 1 week of use</h5>
                                        <div class="shadow rounded bg-white p-4 animated" data-animation-in="fadeInRight" >
                                            <p class="font-20 text-center">The skin feels<br>more hydrated</p>
                                            <img src="~assets/img/benefit/data1.png" alt="data1" width="40%" class="img-center mb-3">
                                        </div>
                                    </div>
                                    <div class="slick-item">
                                        <h5 class="font-calibri-bold text-theme-2">After 1 week of use</h5>
                                        <div class="shadow rounded bg-white p-4 animated" data-animation-in="fadeInRight" data-delay-in="0.1">
                                            <p class="font-20 text-center">The skin feels<br>smoother</p>
                                            <img src="~assets/img/benefit/data2.png" alt="data2" width="40%" class="img-center mb-3">
                                        </div>
                                    </div>
                                    <div class="slick-item">
                                        <h5 class="font-calibri-bold text-theme-2">After 1 week of use</h5>
                                        <div class="shadow rounded bg-white p-4 animated" data-animation-in="fadeInRight" data-delay-in="0.2">
                                            <p class="font-20 text-center">Makeup sits better<br>on the skin</p>
                                            <img src="~assets/img/benefit/data3.png" alt="data3" width="40%" class="img-center mb-3">
                                        </div>
                                    </div>
                                    <div class="slick-item">
                                        <h5 class="font-calibri-bold text-theme-2">After 1 week of use</h5>
                                        <div class="shadow rounded bg-white p-4 animated" data-animation-in="fadeInRight" data-delay-in="0.3">
                                            <p class="font-20 text-center">Skin looks<br>well-rested</p>
                                            <img src="~assets/img/benefit/data4.png" alt="data4" width="40%" class="img-center mb-3">
                                        </div>
                                    </div>
                                    <div class="slick-item">
                                        <h5 class="font-calibri-bold text-theme-2">After 1 week of use</h5>
                                        <div class="shadow rounded bg-white p-4 animated" data-animation-in="fadeInRight" data-delay-in="0.4">
                                            <p class="font-20 text-center">Skin clarity seems<br>to have improved</p>
                                            <img src="~assets/img/benefit/data5.png" alt="data5" width="40%" class="img-center mb-3">
                                        </div>
                                    </div>
                                    <div class="slick-item">
                                        <h5 class="font-calibri-bold text-theme-2 text-center">Test Result</h5>
                                        <div class="border-bottom border-theme-2 mb-3"></div>
                                        <text class="font-20 font-calibri-bold text-theme-2">Period</text>
                                        <p class="font-16">June 02 2020 - July 02 2020</p>
                                        <text class="font-20 font-calibri-bold text-theme-2">Test Subject</text>
                                        <p class="font-16">Women aged 20-39 who sleep less than an average of 6 hours a day (n=34) </p>
                                        <text class="font-20 font-calibri-bold text-theme-2">Test Agency</text>
                                        <p class="font-16">P&K Skin Research Center</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="video-section" id="video">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 px-5">
                            <h5 class="font-calibri-bold text-theme-2 text-center text-sm-start">VIDEO</h5>
                            <div class="bottom-line bg-theme-2"></div>
                            <p class="font-18 text-center text-sm-start mb-5">LANEIGE invites you to wind down, relax and fall asleep with our iconic Water Sleeping Mask. Wake-up to bright and clear complexion.</p>
                        </div>
                        <div class="col-md-6 px-5">
                            <div class="ratio ratio-16x9 rounded-3 overflow-hidden">
                                <iframe src="https://www.youtube.com/embed/nI_buggPwuE?rel=0" title="YouTube video" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="promotion-section" id="promo">
            <div class="slick promotion-slick d-none d-sm-block pb-5">
              <slick :option="slickPromotion">
                <div class="slick-item banner1">
                    <img src="~assets/img/promotion/banner6.png" alt="banner6" class="img-fluid">
                    <!--a href="https://www.lazada.sg/shop/laneige1/?spm=a2o42.innity.microsite.game" target="_blank" class="btn-shop-now font-18 solid-btn-theme2 rounded py-4 btn-padding-lg animated" data-animation-in="fadeInLeft" data-delay-in="0.1">
                        Shop Now
                    </a-->
                </div>
                <div class="slick-item banner2">
                    <img src="~assets/img/promotion/banner7.png" alt="banner7" class="img-fluid">
                    <div class="price animated" data-animation-in="fadeInRight">
                        <img src="~assets/img/promotion/banner7_price.png" alt="banner7_price" class="img-fluid">
                    </div>
                </div>
              </slick>
                <!--div class="slick-item banner3">
                    <img src="~assets/img/promotion/banner3.png" alt="banner3" class="img-fluid">
                    <div class="price animated" data-animation-in="fadeInRight">
                        <img src="~assets/img/promotion/banner3_price.png" alt="banner3_price" class="img-fluid">
                    </div>
                </div-->
                <!--div class="slick-item banner4">
                    <img src="~assets/img/promotion/banner4.png" alt="banner4" class="img-fluid">
                    <div class="price animated" data-animation-in="fadeInRight">
                        <img src="~assets/img/promotion/banner4_price.png" alt="banner4_price" class="img-fluid">
                    </div>
                </div-->
                <!--div class="slick-item banner5">
                    <img src="~assets/img/promotion/banner5.png" alt="banner5" class="img-fluid">
                    <div class="price animated" data-animation-in="fadeInRight">
                        <img src="~assets/img/promotion/banner5_price.png" alt="banner5_price" class="img-fluid">
                    </div>
                </div-->
            </div>
            <div class="slick promotion-slick-mobile d-sm-none">
              <slick :option="slickPromotion">
                <div class="slick-item banner1">
                    <img src="~assets/img/promotion/banner6_mobile.jpg" alt="banner6_mobile" class="img-fluid">
                    <div class="btn-promotion">
                        <!--a href="https://www.lazada.sg/shop/laneige1/?spm=a2o42.innity.microsite.game" target="_blank" class="btn-shop-now font-18 solid-btn-theme2 rounded py-4 animated" data-animation-in="fadeInUp">
                            Shop Now
                        </a-->
                    </div>
                </div>
                <div class="slick-item banner2">
                    <img src="~assets/img/promotion/banner7_mobile.jpg" alt="banner7_mobile" class="img-fluid">
                    <div class="btn-promotion">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#banner7Modal" class="btn-shop-now font-18 solid-btn-theme2 rounded py-4 animated" data-animation-in="fadeInUp">
                            Show all product
                        </a>
                    </div>
                </div>
              </slick>
                <!--div class="slick-item banner3">
                    <img src="~assets/img/promotion/banner3_mobile.png" alt="banner3_mobile" class="img-fluid">
                    <div class="btn-promotion">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#banner3Modal" class="btn-shop-now font-18 solid-btn-theme2 rounded py-4 animated" data-animation-in="fadeInUp">
                            Show all product
                        </a>
                    </div>
                </div-->
                <!--div class="slick-item banner4">
                    <img src="~assets/img/promotion/banner4_mobile.png" alt="banner4_mobile" class="img-fluid">
                    <div class="btn-promotion">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#banner4Modal" class="btn-shop-now font-18 solid-btn-theme2 rounded py-4 animated" data-animation-in="fadeInUp">
                            Show all product
                        </a>
                    </div>
                </div-->
                <!--div class="slick-item banner5">
                    <img src="~assets/img/promotion/banner5_mobile.png" alt="banner5_mobile" class="img-fluid">
                    <div class="btn-promotion">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#banner5Modal" class="btn-shop-now font-18 solid-btn-theme2 rounded py-4 animated" data-animation-in="fadeInUp">
                            Show all product
                        </a>
                    </div>
                </div-->
            </div>
        </div>
        <div class="play-section" id="play">
            <div class="bg-img mt-n5 d-none d-md-block">
                <img src="~assets/img/play/bg_game.png" alt="bg_game" class="img-fluid">
            </div>

            <div class="desc-container text-white">
                <div class="desc-wrap mb-5 pb-4">
                    <h5 class="font-calibri-bold">PLAY & WIN</h5>
                    <div class="bottom-line bg-white"></div>
                    <p class="font-18">The night has fallen, but you are still awake. Your night may be short, but may your skin have a good night sleep.</p>
                    <p class="font-18">Complete the Sleep Challenge and receive a sweet treat for your beauty sleep!</p>
                </div>
                <div class="btns-wrap">
                    <NuxtLink to="/game" target="_blank" class="me-4 font-18 font-calibri-bold solid-btn-white rounded py-4 btn-padding-lg">
                        Play Now
                    </NuxtLink>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#prizesModal"  class="font-18 font-calibri-bold solid-btn-white rounded py-4 btn-padding-lg">
                        View Prizes
                    </a>
                </div>
            </div>
            <div class="bg-img d-md-none">
                <img src="~assets/img/play/bg_game_mobile.png" alt="bg_game" class="img-fluid">
            </div>
        </div>
        <div class="form-section" id="sampling">
            <Form />
        </div>
        <!-- Prizes Modal -->
        <div class="modal fade prizesModal" id="prizesModal" tabindex="-1" aria-labelledby="prizesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-centered">
                <div class="modal-content">
                    <img src="~assets/img/play/prizes_item_mb.png" width="80px" class="prizes-mb">
                    <img src="~assets/img/play/modal_exit.png" width="30px" data-bs-dismiss="modal" aria-label="Close" class="modal-exit">
                    <div class="modal-body position-relative">
                        <div class="prizes-desktop position-absolute">
                            <img src="~assets/img/play/prizes_item.png" width="150px">
                        </div>
                        <div class="text-center">
                            <img src="~assets/img/play/prizes_icon.png" width="42px">
                        </div>
                        <h5 class="font-calibri-bold text-theme-2 text-center">Prizes</h5>
                        <hr class="prizes-divider my-4">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-3 col-4 text-center mb-3">
                                <img src="~assets/img/play/tier1.png" width="70px">
                            </div>
                            <div class="col-md-9 col-8 mb-3">
                                <p class="font-calibri-bold font-20 text-theme-2">20-99 points</p>
                                <p class="font-16">10% discount code to purchase Water Sleeping Mask EX + Deluxe-size gift</p>
                            </div>
                            <div class="col-md-3 col-4 text-center">
                                <img src="~assets/img/play/tier2.png" width="70px">
                            </div>
                            <div class="col-md-9 col-8">
                                <p class="font-calibri-bold font-20 text-theme-2">100 points and above</p>
                                <p class="font-16">15% discount code to purchase Water Sleeping Mask EX + Deluxe-size gift</p>
                            </div>
                            <!--div class="col-md-3 col-4 text-center">
                                <img src="~assets/img/play/tier3.png" width="70px">
                            </div-->
                            <!--div class="col-md-9 col-8">
                                <p class="font-calibri-bold font-20 text-theme-2">100 points and above</p>
                                <p class="font-16">Stand a chance to enter the staycation contest + 15% discount code to purchase Water Sleeping Mask EX + Deluxe-size gift</p>
                            </div-->
                        </div>
                        <div class="modal-remind text-center mt-5 pt-5">
                            <text class="font-16 text-theme-2">*Image for deluxe-size gift is for illustration purpose only</text>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <p>url : {{ $config.baseURL}}</p> -->
        <!-- README 
            error for: Failed to execute 'appendChild' on 'Node'
            https://github.com/nuxt/nuxt.js/issues/5800 
        -->
    </div>
</template>

<script>
export default {
  data() {
    return {
        slickOptions: {
            arrows: true,
            lazyLoad: "progressive",
            dots: false,
            infinite: true,
            autoplay: true,
            autoplaySpeed: 8000,
            speed: 500,
            cssEase: 'ease'
        },
        slickPromotion: {
            arrows: true,
            lazyLoad: "progressive",
            dots: true,
            infinite: true,
            autoplay: true,
            autoplaySpeed: 8000,
            speed: 500,
            cssEase: 'ease'
        },
        posts: []
    }
  },
  base_url: process.env.BASE_URL
}
</script>