<template>
	<div>
	    <div class="redeem-page">
	        <div class="redeem-masthead">
	            <div class="d-none d-md-block bg-img-desktop">
	                <img src="~assets/img/redemption/bg.png" alt="" width="100%">
	            </div>
	            <div class="d-block d-md-none bg-img-mobile">
	                <img src="~assets/img/redemption/bg_mobile.png" alt="" width="100%">
	            </div>
	            <div class="logo-wrapper">
	                <div class="logo">
	                    <img src="~assets/img/logo/logo.png" alt="logo" class="img-fluid">
	                </div>
	                <div class="bottom-line bg-white"></div>
	                <p class="font-20 text-center text-white">Thank you for your participation in our Laneige Water Sleeping Mask sampling event. We hope you enjoy your FREE samples and will continue to support us!</p>
	            </div>
	            <div class="code-wrapper">
	                <p class="font-24 text-center text-white">Free Sampling Kit For You!</p>
	                <h5 class="redeem-code border rounded p-3 text-white text-center">XXXX</h5>
	            </div>
	        </div>

	        <div class="redeem-footer text-center mb-5">
	            <div class="mb-4 div-btn-redeem">
	                <a href="#" data-bs-toggle="modal" data-bs-target="#redeemModal" class="btn-redeem solid-btn-theme2 font-calibri-bold font-20 text-white text-decoration-none rounded p-4">
	                    Redeem Now
	                </a>
	            </div>
	            <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal"  class="terms font-16 text-theme-2">
	                Terms and Conditions
	            </a>
	        </div>
	    </div>

	    <!-- Redeem Modal -->
	    <div class="modal fade redeemModal p-4" id="redeemModal" tabindex="-1" aria-labelledby="redeemModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	            <div class="modal-content p-5">
	                <div class="modal-body px-5">
	                    <p class="font-calibri-bold font-22 text-theme-2 text-center">Are you sure you want to redeem now?</p>
	                    <div class="bottom-line bg-theme-2"></div>
	                </div>
	                <div class="mb-4 btn-footer-modal text-center">
	                    <button type="button" class="btn font-calibri-bold font-20 solid-btn-theme2 p-4" id="submit_redeem" onclick="submitRedeem();">Yes
	                        <div class="svg-icon d-inline-block btn-loading" style="display:none!important">
	                            <!-- Loader SVG -->
	                             <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                            width="40" height="15" viewBox="0 0 50 30" enable-background="new 0 0 0 0" xml:space="preserve">
	                            <circle fill="#fff" stroke="none" cx="6" cy="10" r="6">
	                            <animate
	                            attributeName="opacity"
	                            dur="1s"
	                            values="0;1;0"
	                            repeatCount="indefinite"
	                            begin="0.1"/>
	                            </circle>
	                            <circle fill="#fff" stroke="none" cx="26" cy="10" r="6">
	                            <animate
	                            attributeName="opacity"
	                            dur="1s"
	                            values="0;1;0"
	                            repeatCount="indefinite"
	                            begin="0.2"/>
	                            </circle>
	                            <circle fill="#fff" stroke="none" cx="46" cy="10" r="6">
	                            <animate
	                            attributeName="opacity"
	                            dur="1s"
	                            values="0;1;0"
	                            repeatCount="indefinite"
	                            begin="0.3"/>
	                            </circle>
	                            </svg>
	                        </div>
	                    </button>
	                </div>
	                <div class="mb-4 btn-footer-modal text-center">
	                    <button type="button" class="btn font-calibri-bold font-20 border-btn-theme-2 text-theme-2 p-4" data-bs-dismiss="modal">No</button>
	                </div>
	            </div>
	        </div>
	    </div>

	    <!-- Terms Modal -->
	    <div class="modal fade termsModal" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-centered">
	            <div class="modal-content p-5">
	                <button type="button" class="d-block d-sm-none btn-close close-abs-img font-26" data-bs-dismiss="modal" aria-label="Close"></button>
	                <div class="modal-header border-theme-2">
	                    <h5 class="modal-title font-calibri-bold text-theme-2" id="termsModalLabel">Terms & Conditions</h5>
	                </div>
	                <div class="modal-body">
	                    <ol class="font-18">
	                        <li>Limited to one entry & redemption per customer.</li>
	                        <li>Sample kit redemption can only be collected at the store selected during the indicated date.</li>
	                        <li>Your contact information may be used to contact you regarding your sample kit redemption, as such we are not responsible for errors due to incorrect input information.</li>
	                        <li>In the event that sample runs out due to overwhelming response, you will be put on waiting list.</li>
	                        <li>The management reserves the right to amend the offer without prior notice.</li>
	                        <li>Other terms and conditions apply.</li>
	                    </ol>
	                </div>
	            </div>
	        </div>
	    </div>		
	</div>
</template>

<script>
import axios from 'axios'

export default {
    head() {
      return {
        meta: [
          { hid: 'description', name: 'description', content: 'Beyond hydration, wake up to vibrant skin with probiotic complex. Sign-up and redeem your complimentary Better Sleep sampling kit now!' },
      	  { property: 'og:title', content:  'Laneige Water Sleeping Mask EX | All New Formula' },
      	  { property: 'og:description', content: 'Beyond hydration, wake up to vibrant skin with probiotic complex. Sign-up and redeem your complimentary Better Sleep sampling kit now!' },
      	  { property: 'og:image', content: process.env.BASE_URL + 'dist/img/meta.jpg' }
        ],
        script: [
        	{ src: "js/redeem_validate.js", type: "text/javascript", body: true }
        ]
      }
    },
  	layout: 'redemption'

}
</script>