<template>
	<div>
        <span>
        	<a href="javascript:void(0)" class="btn-padding-lg solid-btn-fb rounded-btn w-100 mb-5 sh-login" platform="facebook">
        		<span><img src="~assets/img/social/fb.png" alt="social_icon_fb_white" width="30px">
        		</span><span class="font-16 font-700 ml-4">Login With Facebook</span>
        	</a>
        	<a href="javascript:void(0)" class="btn-padding-lg solid-btn-fb rounded-btn w-100 mb-5 sh-login" platform="google">
        		<span><img src="~assets/img/social/google.png" alt="social_icon_fb_white" width="30px">
        		</span><span class="font-16 font-700 ml-4">Login With Google</span>
        	</a>
        </span>
	    <div class="bg-social">
	        <div class="container social-container pt-5 mb-5">
	            <div class="wrap-ttl text-center pt-5 mb-5">
	                <h4 class="sec-ttl font-sketch pt-5 mb-5 revealOnScroll" data-animation="fadeInUp" data-timeout="200">Highlights @social</h4>
	            </div>
	            <div class="wrap mb-5 desktop-md-only">
	                <div class="row box">
	                    <div class="col-md-12 col-lg-7 p-0 col-normal-post" v-for="item in posts">
	                        <div class="row m-0 normal-post-slick scrolling-wrapper">
	                            <div class="col-md-6 p-3 sh-main box node" :id="'node-'+item.content_id" seotitle=""
	                                :data-image="item.image[0].small.url"
	                                :data-title="item.title"
	                                :data-link="item.link"
	                                :data-source="item.source"
	                                :data-content-type="item.content_type">
	                                <div class="rounded-lg border bg-white">
	                                    <!-- Icon for Facebook-->
                                        <div v-if="item.content_type=='facebook'" class="social-icon bg-white rounded-circle"><img src="~assets/img/social/fb.png" alt="icon_fb" class="img-fluid"></div>
                                        <!-- Icon for Instagram-->
                                        <div v-else-if="item.content_type=='instagram'" class="social-icon bg-white rounded-circle"><img src="~assets/img/social/ig.png" alt="icon_ig" class="img-fluid"></div>
                                        <!-- Icon for Youtube-->
                                        <div v-else-if="item.content_type=='youtube'" class="social-icon bg-white rounded-circle"><img src="~assets/img/social/yt.png" alt="icon_yt" class="img-fluid"></div>
	                                    <nuxt-link :to="`/social/post/${item.content_id}`">
	                                    	<img :src="item.image[0].medium.url" type="" class="normal-img" @click="$bvModal.show('banner2Modal')">
	                                    </nuxt-link>
	                                    <div class="wrap-content p-4">
	                                        <p class="font-14 truncate-3">{{ item.body }}</p>
	                                        <div class="d-flex flex-wrap">
	                                            <a class="action-icon heart mr-4 like sh-like"><span class="icon mr-2"><img src="~assets/img/svg/action-like.svg"></span><span class="like_count">{{ item.total_like }}</span></a>
	                                        </div>
	                                        <div class="d-flex flex-wrap" @click="$bvModal.show('banner2Modal')">
	                                            <nuxt-link :key="item.content_id" :to="`/social/post/${item.content_id}`" class="action-icon comment mr-4" type=""><span class="icon mr-2"><img src="~assets/img/svg/action-comment.svg"></span><span>{{ item.total_comment }}</span></nuxt-link>
	                                        </div>
	                                        <div class="d-flex flex-wrap">
	                                            <a href="javascript:void(0)" class="action-icon share sh-share" style="width: 18px;" platform="facebook"><span class="icon mr-2"><img src="~assets/img/svg/action-share.svg"></span></a>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	    <!-- Social post modal -->
	    <b-modal id="banner2Modal" hide-footer hide-header>
	    	<Post></Post>
	    </b-modal>
	</div>
	
</template>

<script>
export default {
  data() {
    return {
        posts: []
    }
  },
  async asyncData( { $axios }) {
  	  //let posts = await $axios.$get('https://talktous.innity-asia.com/demo/2021/laneige-demo/api/_sh_script.php?view=social')
      let posts = await $axios.$get('http://localhost/laneige-demo/api/_sh_script.php?view=social')
      return { posts }
  },
  mounted() {
  	this.postModal()
  },
  methods: {
  	postModal() {
  		// /social = 1
  		// /social/post/:id = 2
  		if (this.$route.matched.length > 1) {
		      // You can also do this.$router.push('/') to preserve the history
		      this.$bvModal.show('banner2Modal')
		  }
    }
  }
}
</script>